body{margin: 0px; padding: 0px; color:#404040; font: 14px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;}
*{list-style: none; margin: 0px; padding: 0px;}

fieldset {padding:5px; margin: 5px; border:1px dashed #D4D4D4; background: #f6f5f5; margin-bottom: 10px;}
.legend {
    margin: -15px 25px 5px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 5px;
}
.center { text-align: center;}

/*首页设置开始*/
.top-region{ background: #efefef; padding-bottom: 3px;}
.top-layout{height: 40px; background: url("../img/hash.png") repeat scroll left top #43717d; color: #FFF; position: relative;}
.top-layout a { color: #FFF; text-decoration: none;}
.top-logo{width: 180px; color:#FFF; line-height: 40px; font-size: 18px; float: left;}
.top-left-a{  float:left; background: url('../img/top-left.png') no-repeat left center; width: 25px; height: 40px; margin-left: 20px; }
.footer{line-height:30px; text-align: center; background: #efefef;}
.footer a{ color: #000; text-decoration: none;}
.content-layout{ padding: 5px;}
.padding10 { padding: 10px;}
.with100s{ width: 100%;}
.red { color: red;}
.top-menu { float: right; padding-right: 30px;}
.top-menu li { line-height: 40px; float: left; padding: 0px 5px;}
/*首页设置结束*/

/*左边菜单开始*/
.left-menu li a{ display:block; color: #455874; text-decoration: none; cursor: pointer; border-bottom: 1px solid #edecec; background: url("../img/menus_dd.gif") no-repeat 95% center; padding: 5px 20px;}
.left-menu li a:hover, .left-menu li a.ative { background-color: #fafafa; font-weight: bold;}
/*左边菜单结束*/

/*表单样式开始*/
.form-panel {padding: 5px;}
.form-panel th{line-height: 30px; padding-left: 10px;  text-align: right; font-weight: normal;}
.form-panel span.tips { margin-left: 10px; color: gray;}
.form-panel span.combo, .form-panel span.spinner {border: 1px solid #D0D0D0; padding: 0px;}
.form-panel input.combo-text{ margin: 0px; padding: 0 2px;}
.form-panel .spinner-arrow, .form-panel .combo-arrow { background-color: #f3f3f3;}
.form-panel .form-items { margin-bottom: 10px;}
.form-items label { height: 30px;  display: block;}
.form-items label span { color: #aaa; }
.form-panel input.input-large {width: 300px; padding: 5px 5px;}
.button-large { min-width: 80px; padding:5px 0px; font-size: 14px;}
.button-small { padding:2px 20px; font-size: 14px;}
.mini-button { border: 0; background: none; margin: 0; padding: 0;}
.input-upper { text-transform: uppercase;}
.textbox { height:20px;  margin:0;  padding:0 2px;  box-sizing:content-box;}
#operateBox label{padding-right:10px;}
.input {border: 1px solid #D0D0D0; padding: 5px;}
/*表单样式结束*/

/*表格样式*/
.list-table {border: 0px; border-collapse: collapse;}
.list-table th, .list-table td { padding: 5px; border: solid #e6e6e6 1px; background: #FFF;}
.list-table th {font-weight: normal; background: #fafbfb;}
.thright th { text-align: right;}
.thleft th { text-align: left;}
.small-goods { font-size: 12px;}
.small-goods td { background: #fafbfb;}

/*系统提示样式开始*/
.message { padding: 30px;}
.message .error { color: red;}
.message p font {padding-right: 10px; font-size: 24px; font-weight: bold;}
.message .jump{ padding-top: 10px}
.message .jump a{ color: #333;}
/*系统提示样式结束*/

/*easyui样式替换*/
.toolbar-outer { border: 1px solid #D4D4D4; margin: 2px;}
.toolbar-inner { border: 1px solid #FFFFFF;}
.datagrid-btn-separator {float: none;}
.images-btn { width: 16px; height: 16px; padding-left: 18px; margin-left: 10px; text-decoration: none; color: #000; background-position: left center; display: inline-block; cursor: pointer;}
.datagrid-row-selected {background: none repeat scroll 0 0 #efefef; color: #000;}
.tree-node-selected,.combobox-item-selected { background: none repeat scroll 0 0 #efefef; color: #000;}
.accordion .accordion-header-selected { background: none repeat scroll 0 0 #F3F3F3;}
.panel-title {font-weight: normal;}
.accordion .accordion-header-selected .panel-title {color: #575765;}
/*easyui样式替换结束*/

/*组合查询条件样式*/
.filter-group { border: 1px solid #D4D4D4; padding: 5px; margin: 5px auto;}
.filter-field {margin: 5px auto;}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}