body{
    background: #43717d;
    color: #FFF;
}
.clear { clear: both;}

.login-panel {margin: 100px auto 0px; width: 300px;   padding: 40px 60px; }
.login-logo { width: 190px; height: 60px; margin: 20px auto; background: url("../img/logo.png") no-repeat;}

.login-label { margin: 10px;}
.login-label .login-text {height: 32px; border: none; color: #fff; padding: 0px 5px; background: #282d34;}
.login-label .login-verify { width: 50px;}