<include file="Public:editor" />
<form id="submit-form" data-url="{:U('save')}" method="post" class="form-panel">
    <div class="easyui-tabs" data-options="plain:true, border:false">
        <div title="基本信息" style="padding: 10px;">
            <table class="form-panel content-layout">
                <tr>
                    <th>所属分类：</th>
                    <td>
                        <input class="easyui-combotree input-text" name="cat_id" value="{$info.cat_id}" method="get" data-options="url:'{:U('articlecategory/index?type=parent')}', required:true" style="width:250px;">
                    </td>
                </tr>
                <tr>
                    <th>标题：</th>
                    <td>
                        <input name="title" class="easyui-textbox" style="width: 450px;" value="{$info.title}" data-options="required:true">
                    </td>
                </tr>
                <tr>
                    <th>副标题：</th>
                    <td><input name="subtitle" class="easyui-textbox" style="width:450px;" value="{$info.subtitle}"></td>
                </tr>
                <tr>
                    <th>是否置顶：</th>
                    <td>
                        <input type="radio" name="is_top" value="0" <if condition="$info['is_top'] eq 0"> checked </if>> 否
                        <input type="radio" name="is_top" value="1" <if condition="$info['is_top'] eq 1"> checked </if>> 是
                    </td>
                </tr>
                <tr>
                    <th>上传图片：</th>
                    <td>
                        <input class="easyui-textbox" id="img_path" name="img_path" data-options="prompt:'图片路径...',buttonText:'选择图片'" value="{$info.img_path}" style="width:450px">
                    </td>
                </tr>
                <tr>
                    <th>关键字：</th>
                    <td>
                        <input name="keywords" class="easyui-textbox" style="width: 450px;" value="{$info.keywords}">
                    </td>
                </tr>
                <tr style="display: none;">
                    <th>自定义模板：</th>
                    <td>
                        <input name="template" class="easyui-textbox" style="width: 450px;" value="{$info.template}">
                    </td>
                </tr>
                <tr>
                    <th>描述：</th>
                    <td>
                        <input type="text" class="easyui-textbox" name="description" value="{$info.description}" data-options="multiline:true" style="width:450px;height:100px">
                    </td>
                </tr>
            </table>
        </div>
        <div title="详细内容" style="padding: 10px;">
            <script id="content" name="content" type="text/plain" style="height:400px;">{:htmlspecialchars_decode($info['content'])}</script>
        </div>
    </div>
    <div class="padding10 center">
        <input type="hidden" name="id" value="{$info.id}">
        <a href="javascript:void(0)" class="easyui-linkbutton button-large" onclick="formSubmit(this)"> 保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton button-large" onclick="formReset(this)"> 重置</a>
    </div>
</form>
<script type="text/javascript">

    var ue = UE.getEditor('content');
    function formSubmit(element){
        blur(element);
        easyui.submit('submit-form', function(result){
            try{
                easyui.confirm(result.info + '是否关闭窗口？', function(isOk){
                    if(isOk) {
                        parent.closeTab();
                        return;
                    }
                });
            }catch (e){}
        })
    }

    initUploadImage('#img_path');

    function formReset(element) {
        blur(element);
        easyui.formReset('submit-form');
        ue.setContent();
    }

</script>