<include file="toolbar"/>
<table id="dataGrid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'id',width:50">文章ID</th>
        <th data-options="field:'title',width:120, sortable:true">标题</th>
        <th data-options="field:'subtitle', width:120">副标题</th>
        <th data-options="field:'cat_name',width:120">分类</th>
        <th data-options="field:'is_top',width:60, align:'center',formatter:function(value){return displayYesNo(value);}">是否置顶</th>
        <th data-options="field:'locked',width:60, align:'center',formatter:function(value){return displayYesNo(value);}">禁止显示</th>
        <th data-options="field:'create_time',width:120, sortable:true">添加时间</th>
        <th data-options="field:'update_time',width:120, sortable:true">最近编辑时间</th>
    </tr>
    </thead>
</table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:onHandler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var dataGrid = $('#dataGrid');
    dataGrid.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, node){
            openWindow('#dataGrid', node.id);
        }
    });

    function onSearch()
    {
        var keywords = $.trim($('[name="keywords"]').val());
        var cat_id = $('[name="cat_id"]').val();
        dataGrid.datagrid({
            queryParams: {
                keywords: keywords,
                cat_id: cat_id
            }
        });
    }

    function onDelete(element) {
        blur(element);
        var rows = dataGrid.datagrid('getChecked');
        if(rows) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].id);
            }
            items = items.join(',');
            easyui.doAjax('{:U("delete")}', {itemid: items}, function(){
                dataGrid.datagrid('reload');
            });
        }
    }

    function onHandler(item) {
        switch (item.name) {
            case 'reload':
                dataGrid.datagrid('reload');
                break;
            case 'delete':
                if (rowId) {
                    easyui.doAjax('{:U("delete")}', {itemid: rowId}, function () {
                        dataGrid.datagrid('reload');
                    });
                }
        }
    }

    function openWindow(element, id){
        blur(element);
        parent.openTab(null, '文章表单', http_build_query("{:U('form')}", {id: id}), true);
    }

    function onLock(element, locked){
        blur(element);
        var rows = dataGrid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的选项！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    dataGrid.datagrid('reload');
                }catch (e){}
            });
        });
    }
</script>