<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td>
                标题：
                <input name="keywords" size="15" class="easyui-textbox" data-options="prompt:'请输入关键词'">
                <input class="easyui-combotree input-text" name="cat_id" method="get" style="width:150px;" url="{:U('articlecategory/index?type=select')}">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()"> 搜索 </a>
                <a class="datagrid-btn-separator"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onLock(this, 0)">允许显示</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-lock" plain="true" onclick="onLock(this, 1)">禁止显示</a>
                <a class="datagrid-btn-separator"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this)">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="onDelete(this)">删除</a>
            </td>
        </tr>
    </table>
</div>