<div style="color:red;">运行 SQL 查询执行SQL将直接操作数据库，请谨慎使用</div>
<form action="{:U('execute')}" method="post">
    <input  class="easyui-textbox" name="sql" style="width: 500px;height:80px;" data-options="multiline:true,required:true">
    <div><a class="easyui-linkbutton button-large" id="submit">执行</a></div>
</form>
<script>
    $('#submit').click(function(){
        var value = $('input[name=sql]').val();
        if($.trim(value) ==  '') return false;
        $('form').submit();
    });
</script>
<div id="content"></div>