

    <table>
        <tr>
            <th>收货人：</th>
            <td><input name="contact" class="easyui-textbox" data-options="disabled:true" style="width:300px;" value="{$info.contact}"></td>
        </tr>
        <tr>
            <th>电子邮箱：</th>
            <td><input name="email" class="easyui-textbox" data-options="disabled:true" style="width:300px;" value="{$info.email}"></td>
        </tr>
        <tr>
            <th>手机号码：</th>
            <td><input name="mobile" class="easyui-textbox" data-options="disabled:true" style="width:300px;" value="{$info.mobile}"></td>
        </tr>
       
        <tr>
            <th>收货地址：</th>
            <td>
                <input class="easyui-textbox" id="province" name="province" style="width:150px;" data-options="disabled:true" value="{$info.province}"><input class="easyui-textbox" id="city" name="city" style="width:150px;" data-options="disabled:true" value="{$info.city}">
            </td>
        </tr>
        <tr>
            <th>详细地址：</th>
            <td><input name="address" class="easyui-textbox" data-options="disabled:true" style="width:300px;" value="{$info.address}"></td>
        </tr>
        <tr>
            <th>快递公司：</th>
            <td><select name="shipping_id" id="shipping_id" class="easyui-combox" style="width: 300px;">
                <volist name="shipping_info" id="vo">
                    <option value="{$vo.shipping_id}">{$vo.shipping_name}</option>
                </volist>
            </select></td>
        </tr>
        <tr>
            <th>运费：</th>
            <td><input style="width: 300px;" class="easyui-textbox" name="shipping_fee" id="shipping_fee"></td>
        </tr>
        <tr>
            <th>选择商品：</th>
            <td><select name="goods_id" class="easyui-combox" style="width: 300px;">
                <volist name="goods_list" id="vo">
                    <option value="{$vo.goods_id}">{$vo.goods_name} -- ￥{$vo.shop_price}</option>
                </volist>
                </select>
            </td>
        </tr>
        <tr>
            <th>购买数量：</th>
            <td><input class="easyui-textbox" style="width: 200px;" name="goods_number" value="1"><button style="width: 100px;" onclick="addCart()">添加到购物车</button></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button onclick="onOk()">确认下单</button></td>
        </tr>
    </table>

<table width="600" border="1">
    <tr>
        <th>商品名称</th>
        <th>商品数量</th>
        <th>单价</th>
        <th>小计</th>
        <th>操作</th>
    </tr>
    <volist name="cart_list" id="vo">
    <tr>
        <td>{$vo.goods_name}</td>
        <td>
            <input name="goods_number" cart="{$vo.cart_id}" value="{$vo.goods_number}" onchange="onModify(this)">
        </td>
        <td>￥{$vo.goods_price}</td>
        <td>￥{$vo['goods_number'] * $vo['goods_price']}</td>
        <td>
            <a href="javascript:;" onclick="onDelete('{$vo.cart_id}')">删除</a>
        </td>
    </tr>
    </volist>
    <tr>
        <td colspan="5" align="right">
            总计(不含运费)：￥{$total_amount}
        </td>
    </tr>
</table>



<script type="text/javascript">
    function onDelete(cart_id) {
        if(confirm('确认删除吗？')) {
            $.post('{:U("buy/deletecart")}', {cart_id: cart_id}, function(result){
                try {
                    if(result.info) {
                        alert(result.info);
                    }
                    location.reload();
                }catch (e){}
            }, 'JSON');
        }
    }

    function addCart() {
        var goods_id = $('[name="goods_id"]').val();
        var goods_number = $('[name="goods_number"]').val();
        var user_id = '{$info.user_id}';
        easyui.ajaxCall('{:U("buy/addtocart")}',{goods_id: goods_id, goods_number: goods_number,user_id:user_id}, function(result){
                try{
                    if(result.info){
                        easyui.alert(result.info);
                    }
                    location.reload();
                }catch (e){}
            });
    }

    function onModify(obj) {
        var self = $(obj);
        if(self.val() < 1) {
            alert('数量不正确');
            return false;
        }
        $.post('{:U("buy/modifycart")}', {cart_id: self.attr('cart'), goods_number: self.val()}, function(result){
            try {
                if(result.info) {
                    easyui.alert(result.info);
                }
                location.reload();
            }catch (e){}
        }, 'JSON');
    }

    function onOk() {

        var user_id = '{$info.user_id}';
        var shipping_id = $('#shipping_id').val();
        var shipping_name = $('#shipping_id').find('option:selected').text();
        var shipping_fee = $('#shipping_fee').val();
        if (empty(shipping_id) || empty(shipping_name)) {
            easyui.alert('请选择快递公司！');
        }
        if (empty(shipping_fee)) {
            if (!confirm("运费为空，此单将免邮，是否继续？")){
                return false;
            } 
        }else{
            shipping_fee = parseFloat(shipping_fee);
            if (isNaN(shipping_fee)) {
                easyui.alert("运费必须为数字或空！");
                return false;
            }
            if (shipping_fee<0) {
                easyui.alert("运费不能小于0！");
                return false;
            }
        }
        $.post('{:U("buy/saveorder")}', {user_id:user_id,shipping_id:shipping_id,shipping_name:shipping_name,shipping_fee:shipping_fee}, function(result){
            try {
                if (!result.status) {
                    easyui.alert(result.info);
                    return false;
                }
                
                easyui.confirm(result.info+'是否关闭窗口？',function(isOk){
                    if(isOk) {
                        parent.closeTab();
                        return;
                    }else{
                        location.reload();
                    }
                })
               
            }catch (e){}
        }, 'JSON');
    }
</script>