<div class="message">
    <present name="message">
        <h1>:)</h1>
        <p class="success"><?php echo($message); ?></p>
        <else/>
        <p class="error"><font>:(</font><?php echo($error); ?></p>
    </present>
    <br><br>
</div>