<form name="back_info" method="post" data-url="{:U('save')}">
    <fieldset>
        <p class="red">请提醒客户在包裹中写好原订单号对应退回哪些产品，格式如下：</p>
        <fieldset style="background: #FFF;">
            <p class="red">订单号：WS2015031783200</p>
            <p class="red">产品名称：瓷肌面膜1，货号：2566325，数量：10</p>
            <p class="red">产品名称：瓷肌面膜2，货号：2566326，数量：1</p>
        </fieldset>
        <p class="red">如包裹中包含多张订单的产品，请重复以上格式。如包裹中无此信息，仓库将无法操作退货！</p>
    </fieldset>
    <br>
    <fieldset>
        <h2 class="legend">退货信息</h2>
        <table width="100%" class="list-table">
            <tr>
                <th width="100">退货快递名称：</th>
                <td>
                    <input name="shipping_name" class="easyui-textbox" data-options="{required:true,missingMessage:'请填写退货快递'}" size="25" value="{$back_info.shipping_name}">
                </td>
                <th width="100">快递单号：</th>
                <td>
                    <input name="back_invoice_no" class="easyui-textbox" data-options="{required:true,missingMessage:'请填写快递单号'}" size="25" value="{$back_info.back_invoice_no}">
                </td>
            </tr>
            <tr>
                <th>备注：</th>
                <td colspan="4">
                    <input name="remark" class="easyui-textbox" data-options="multiline: true" style="height: 50px; width: 100%;" value="{$back_info.remark}">
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <fieldset>
        <h2 class="legend">商品信息</h2>
        <table width="100%" class="list-table">
            <tr>
                <th width="40%">商品名称</th>
                <th width="20%">货号</th>
                <th width="10%">购买总数量</th>
                <th width="15%">单价</th>
                <th width="15%">退货数量</th>
            </tr>
            <volist id="vo" name="order_goods">
                <if condition="$vo['parent_id'] eq 0">
                    <tr>
                        <td>{$vo.goods_name}</td>
                        <td>{$vo.goods_sn}</td>
                        <td align="center">{$vo.goods_number}</td>
                        <td>￥{$vo.goods_price}</td>
                        <td align="center">
                            <input name="goods_number[{$vo.goods_id}]" class="easyui-textbox" data-options="onChange:change_number, goods_number: {$vo.goods_number}" value="{$vo.back_goods_number}">
                        </td>
                    </tr>
                    <if condition="$vo['extension_code'] eq 'package_buy'">
                    <volist id="ve" name="order_goods">
                        <if condition="$ve['parent_id'] eq $vo['goods_id'] && $ve['extension_code'] eq 'package_goods'">
                            <tr class="small-goods">
                                <td style="padding-left: 20px;">∟{$ve.goods_name}</td>
                                <td>{$ve.goods_sn}</td>
                                <td align="center">{$ve['goods_number'] * $vo['goods_number']}</td>
                                <td>￥{$ve.goods_price}</td>
                                <td align="center"></td>
                            </tr>
                        </if>
                    </volist>
                    </if>
                </if>
            </volist>
        </table>
        <input type="hidden" name="order_id" value="{$Think.get.order_id}">
    </fieldset>
</form>
<script type="text/javascript">
    function change_number(newNumber, oldNumber) {
        var options = $(this).textbox('options');
        newNumber = Math.min(newNumber, options.goods_number);
        newNumber = Math.max(newNumber, 0);
        $(this).textbox('setValue', newNumber);
    }
</script>