<div id="toolbar" class="form-panel">
    <form id="toolbarSearch" action="javascript:;">
        <fieldset>
            <table>
                <tr>
                    <td>
                        创建时间：
                        <input class="easyui-datebox" name="begindate" id="begindate" data-options="formatter:date_formatter,parser:date_parser"> ~ <input class="easyui-datebox" name="enddate" id="enddate" data-options="formatter:date_formatter,parser:date_parser">
                        <input id="keywords" name="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入退货单号或原订单编号',buttonIcon:'icon-search',onClickButton: function(){onSearch()}" style="width: 250px;">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onBack()">编辑</a>
    <a class="datagrid-btn-separator"></a>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'order_sn',width:40">原订单号</th>
        <th data-options="field:'back_sn',width:40">退货单号</th>
        <th data-options="field:'shipping_name',width:50">退回快递名称</th>
        <th data-options="field:'back_invoice_no',width:50">快递单号</th>
        <th data-options="field:'create_time',width:50">创建时间</th>
        <th data-options="field:'update_time',width:50">更新时间</th>
        <th data-options="field:'status_text',width:50">状态</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    var orderId = 0;

    grid.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            parent.openTab(null, row.back_sn, http_build_query("{:U('show')}", {order_id: row.order_id}), true);
        }
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            queryParams: query
        });
    }

    function onBack() {
        var order = grid.datagrid('getSelected');
        if(!order) {
            easyui.alert('请选择需要退货的订单！');
            return false;
        }

        var opts = {
            href: http_build_query('{:U("back/form")}', {order_id: order.order_id}),
            title: '编辑退货单',
            width: 900,
            height: 650
        };
        easyui.dialog(opts);
    }
</script>