<form id="operate_form" method="post" data-url="{:U('do_operate')}">
    <table class="form-panel content-layout">
        <tr>
            <td>备注：</td>
            <td>
                <input class="easyui-textbox" name="remark" data-options="{multiline:true,required:true,missingMessage:'请填写备注'}" style="width:450px;height:100px" >
            </td>
        </tr>
        <tr>
            <td height="10"></td>
            <td></td>
        </tr>
        <tr>
            <td>操作：</td>
            <td>
                <foreach name="operate" item="op" key="operateKey" >
                    <if condition="$op['virtual'] neq true">
                    <a class="easyui-linkbutton button-small" operate="{$operateKey}" onclick="onOperate(this)">{$op.text}</a> &nbsp;
                    </if>
                </foreach>
            </td>
        </tr>
        <tr>
            <td height="10"></td>
            <td>
                <input type="hidden" name="order_id" value="{$back_info.order_id}">
                <input type="hidden" name="operate">
            </td>
        </tr>
        <tr>
    </table>
</form>
<script type="text/javascript">
    function onOperate(element) {
        var msg = "请确认所操作订单是否正确！";
        var operate = $(element).attr('operate');
        $('[name="operate"]').val(operate);
        switch (operate) {

        }
        easyui.confirm(msg,function(){
            easyui.submit('#operate_form', function(result){
                try{
                    easyui.alert(result.info, function(){
                        if (result.status) {
                            window.location.reload();
                        }
                    });
                }catch (e){}
            });
        })
    }
</script>