<br>
<fieldset>
    <h2 class="legend">基本信息</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th width="100">退货状态：</th>
            <td colspan="3" style="color: red;">{$back_info.status_text}</td>
        </tr>
        <tr>
            <th width="100">原订单编号：</th>
            <td width="500">{$back_info.order_sn}</td>
            <th width="100">退货单号：</th>
            <td width="500">{$back_info.back_sn}</td>
        </tr>
        <tr>
            <th width="100">快递名称：</th>
            <td>{$back_info.shipping_name}</td>
            <th width="100">快递单号：</th>
            <td>{$back_info.back_invoice_no}</td>
        </tr>
        <tr>
            <th>备注：</th>
            <td colspan="3">{$back_info.remark}</td>
        </tr>
    </table>
</fieldset>
<br>
<fieldset>
    <h2 class="legend">时间信息</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th width="100">创建时间：</th>
            <td width="500">{$back_info.create_time}</td>
            <th width="100">更新时间：</th>
            <td width="500">{$back_info.update_time}</td>
        </tr>
        <tr>
            <th>取消时间：</th>
            <td>{$back_info.cancel_time}</td>
            <th>退货入库时间：</th>
            <td>{$back_info.back_time}</td>
        </tr>
        <tr>
            <th>审核时间：</th>
            <td colspan="3">{$back_info.audit_time}</td>
        </tr>
    </table>
</fieldset>
<br>
<fieldset>
    <h2 class="legend">商品信息</h2>
    <table width="100%" class="list-table">
        <tr>
            <th width="40%">商品名称</th>
            <th width="20%">货号</th>
            <th width="15%">单价</th>
            <th width="15%">退货数量</th>
            <th width="15%">实际入库数量</th>
        </tr>
        <volist id="vo" name="back_goods">
            <if condition="$vo['parent_id'] eq 0">
                <tr>
                    <td>{$vo.goods_name}</td>
                    <td>{$vo.goods_sn}</td>
                    <td>￥{$vo.goods_price}</td>
                    <td align="center">{$vo.goods_number}</td>
                    <td align="center">
                        {$vo.real_goods_number}
                    </td>
                </tr>
                <if condition="$vo['extension_code'] eq 'package_buy'">
                    <volist id="ve" name="back_goods">
                        <if condition="$ve['parent_id'] eq $vo['goods_id'] && $ve['extension_code'] eq 'package_goods'">
                            <tr class="small-goods">
                                <td style="padding-left: 20px;">∟{$ve.goods_name}</td>
                                <td>{$ve.goods_sn}</td>
                                <td>￥{$ve.goods_price}</td>
                                <td align="center">{$ve['goods_number']} 件 x {$vo['goods_number']} 套</td>
                                <td align="center">{$ve.real_goods_number} 件</td>
                            </tr>
                        </if>
                    </volist>
                </if>
            </if>
        </volist>
    </table>
</fieldset>
<br>
<fieldset>
    <h2 class="legend">退货操作</h2>
    <include file="operate" />
</fieldset>
<br>
<fieldset>
    <h2 class="legend">操作日志</h2>
    <table width="100%" class="list-table thleft">
        <tr>
            <th width="20%">操作时间</th>
            <th width="15%">操作人</th>
            <th width="8%">状态</th>
            <th>备注</th>
        </tr>
        <volist id="vo" name="back_log">
            <tr>
                <td>{$vo.create_time}</td>
                <td>{$vo.master_name}</td>
                <td>{$vo.back_status}</td>
                <td>{$vo.action_note}</td>
            </tr>
        </volist>
    </table>
</fieldset>