<import file="datagrid-cellediting" basepath="__JS__/easyui"/>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'cat_name',width:80">所属分类</th>
        <th data-options="field:'is_package',width:40,formatter:function(value){if(value == '0') return '否';return '<font color=red>是</font>';}">是否套装</th>
        <th data-options="field:'goods_name',width:120">商品名称</th>
        <th data-options="field:'goods_sn',width:50">货号</th>
        <th data-options="field:'goods_stock',width:50">库存</th>
        <th data-options="field:'occupy',width:50">占用库存</th>
        <th data-options="field:'update_time',width:60, align:'center'">更新时间</th>
        <th data-options="field:'is_on_sale',width:50,formatter: function(value){
                if(value == '0') return '<font color=red>下架</font>';
                return '上架';
            }" sortable="true">状态</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U('index')}",
        fit: true,
        toolbar: '#toolbar',
        border: false,
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false
    });
    grid.datagrid('enableCellEditing').datagrid('gotoCell');
</script>