<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'create_time',width:80">操作时间</th>
        <th data-options="field:'user_id',width:80">管理员</th>
        <th data-options="field:'content',width:250">操作信息</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U('controllog')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false
    });
</script>