<div id="toolbar">
    <table class="form-panel">
        <tr>
            <td width="100%">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, '')">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="lockItem(this, 1)">上架</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="lockItem(this, 0)">下架</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onEdit(this)">编辑</a>
                <input name="gen_number" id="gen_number" class="easyui-textbox" data-options="buttonText:'生成二维码',prompt:'请输入数量',onClickButton: function(){genQrcode()}">
                <if condition="power('goods-realityOccupt')">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="onSync()">同步占用库存</a>
                </if>
                <if condition="power('goods-stocklog')">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onControl()">库存操作记录</a>
                </if>
                <if condition="power('goods-implode')">
                   <form name="upload" action ="{:U('upload')}" method="post" enctype="multipart/form-data" target="upload">
                        产品导入：<input class="easyui-filebox" name="goods_data" buttonText="选择文件">
                        <input id="type" name="type"  class="easyui-combobox" data-options="valueField:'id',textField:'text',url:'{:U('getChannel')}'" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="onImplode(this)">导入</a>
                   </form>
                </if>
                <iframe style="display: none;" name="upload"></iframe>
               <!--  <input name="gen_number" id="gen_number" class="easyui-textbox" data-options="prompt:'输入生成数量', icons: [{
               iconCls:'icon-clear',
               handler: function(e){
               $(e.data.target).textbox('clear');
               }
               }]">
               <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="genQrcode()">生成二维码</a> -->
            </td>
            <td>
                <input id="cat_id"  class="easyui-combobox" data-options="valueField:'id',textField:'text',url:'{:U('getChannel')}',prompt:'请选择渠道...'" />
            </td>
            <td>
                <input id="keyword" class="easyui-textbox" data-options="buttonText:'SEARCH',prompt:'请输入关键词...',onClickButton: function(){onSearch();}" style="width:250px;">
            </td>
        </tr>
    </table>
</div>