<include file="toolbar" />
<table id="grid"  data-options="fit:true, border:false"></table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    $(function(){
        grid.treegrid({
            url: "{:U()}",
            idField:'id',
            toolbar: "#toolbar",
            treeField:'text',
            fitColumns: true,
            onContextMenu: function(e, row){
                e.preventDefault();
                rowId = row.id;
                $('#leftMenu').menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            columns:[[
                {field:'text',title:'角色名称',width:120},
                {field:'locked',title:'是否锁定',width: 50, align:'center', formatter: function(value){
                    if(value == '1') return '<font color="red">是</font>';
                    return '否';
                }},
                {field:'remark',title:'备注',width:200},
                {field: 'orderby', title:'排序', width:50}
            ]],
            onDblClickRow: function(row){
                openWindow('#grid', row);
            }
        });
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 500,
            data: row,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function assignMenu(element) {
        blur(element);
        var row = grid.treegrid('getSelected');
        if(!row) return false;
        var opts = {
            href: '{:U("power")}',
            width: 500,
            height: 500,
            params: {role_id: row.id},
            handler: function(result){
                easyui.doAjax(opts.href, {menu_list: result, role_id: row.id});
            }
        };
        easyui.dialog(opts);
    }

    function assignLogic(element) {
        blur(element);
        var row = grid.treegrid('getSelected');
        if(!row) return false;
        var opts = {
            href: '{:U("logic")}',
            width: 500,
            height: 500,
            params: {role_id: row.id},
            handler: function(result){
                easyui.doAjax(opts.href, {logic_list: result, role_id: row.id});
            }
        };
        easyui.dialog(opts);
    }

    function menuHandler(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                if(rowId){
                    easyui.doAjax('{:U("delete")}', {items: rowId}, function(){
                        grid.treegrid('reload');
                    });
                }
        }

    }
</script>