<table id="dialog-grid" >
    <thead>
        <tr>
            <th data-options="field:'tree_id',checkbox: true"></th>
            <th data-options="field:'id'">ID</th>
            <th data-options="field:'text'" width="180">菜单名称</th>
        </tr>
    </thead>
</table>
<div id="dialog-toolbar">
    <table class="form-panel">
        <tr>
            <td>
                <input name="keywords" size="35" class="easyui-textbox" data-options="onChange: function(){dgScript.onSearch();}">
                <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="dgScript.onSearch()">搜索</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var dgScript = {
        dgGrid: $('#dialog-grid'),
        menu_list: '{$info.menu_list}',
        onSearch: function() {
            this.dgGrid.treegrid('reload', {
                selected: this.menu_list,
                text: $('#dialog-toolbar').find('[name="keywords"]').val()
            });
        },
        onStart: function() {
            this.dgGrid.treegrid({
                fit:true,
                border:false,
                url:'{:U("menu/index")}',
                toolbar: '#dialog-toolbar',
                idField:'id',
                treeField:'text',
                fitColumns: true,
                selectOnCheck:false,
                checkOnSelect: false,
                queryParams: {
                    selected: this.menu_list
                }
            });
        }
    };
    $(function() {
        dgScript.onStart();
    });

    function onReturn(){
        var rows = $('[name="tree_id"]');
        var items = [];
        if(rows.length > 0) {
            for(var i = 0; i < rows.length; i++) {
                if(rows.eq(i).attr('checked'))
                    items.push(rows.eq(i).val());
            }
        }
        return items.join(',');
    }
</script>