<div id="toolbar">
    <table class="form-panel">
        <tr>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-man" plain="true" onclick="assignMenu(this)">分配功能权限</a>
            </td>
        </tr>
    </table>
</div>