<form id="masterForm" data-url="{:U('save')}" method="post">
    <fieldset>
        <legend>基础信息</legend>
        <table class="form-panel content-layout">
            <tr>
                <th>上级代理搜索：</th>
                <td colspan="3">
                    <input name="keyword" class="easyui-searchbox" data-options="prompt:'请输入微信昵称或真实姓名搜索',searcher:doSearch" style="width:250px;">
                    <!--<a href="#" class="easyui-linkbutton">搜索</a> 请输入微信昵称或真实姓名搜索-->
                </td>
            </tr>
            <tr>
                <th><font color="red">真实姓名</font>：</th>
                <td>
                    <input class="easyui-textbox" name="truename" value="{$info.truename}" style="width:150px;">
                </td>

                <th><font color="red">上级代理</font> ：</th>
                <td>
                    <select  name="pid" id="pid" style="width: 120px;"></select>
                </td>
            </tr>
            <tr>
                <th><font color="red">微信号</font>：</th>
                <td>
                    <input class="easyui-textbox" name="wechat" value="{$info.wechat}" style="width:150px;">
                </td>

                <th><font color="red">是否锁定</font>：</th>
                <td>
                    <select name="locked" class="easyui-combobox" style="width: 60px;">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>用户ID：</th>
                <td>
                    <input class="easyui-textbox" name="user_id" readonly="readonly" value="{$info.user_id}" style="width:150px;">
                </td>

                <th>OPENID：</th>
                <td>
                    <input class="easyui-textbox" name="openid" readonly="readonly" value="{$info.openid}" style="width:150px;">
                </td>
            </tr>
            <tr>
                <th>微信昵称：</th>
                <td>
                    <input name="nickname" class="easyui-textbox" value="{$info.nickname}" readonly="true" style="width:150px;">
                </td>

                <th>微信头像：</th>
                <td>
                    <a href="{$info.headimgurl}" target="_blank"><img src="{$info.headimgurl}" width="40"></a>
                </td>
            </tr>
            <tr>
                <th>手机号码：</th>
                <td>
                    <input class="easyui-textbox" name="mobile" value="{$info.mobile}" style="width:150px;">
                </td>

                <th>微信所在地区：</th>
                <td>
                    <input name="district" class="easyui-textbox" value="{$info.country} {$info.province} {$info.city}" readonly="true" style="width:150px;">
                </td>
            </tr>
            <tr>
                <th>性&nbsp;&nbsp;&nbsp;&nbsp;别：</th>
                <td>
                    <select name="sex" id="sex" class="easyui-combobox" readonly="true" style="width: 60px;">
                        <option value="0">未知</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>

                <th>是否关注：</th>
                <td>
                    <select name="subscribe" class="easyui-combobox" readonly="true" style="width: 60px;">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <!--<if condition="$info[subscribe] eq 0">否<else/>是</if>-->
                </td>
            </tr>
            <tr>
                <th>创建时间：</th>
                <td>
                    <input name="add_time" value="{$info.add_time|date='Y-m-d H:i:s',###}" readonly="readonly" class="easyui-textbox" style="width:150px;">
                </td>

                <th>关注时间：</th>
                <td>
                    <input name="subscribe_time" <if condition="$info[subscribe_time]">value="{$info.subscribe_time|date='Y-m-d H:i:s',###}"</if> readonly="readonly" class="easyui-textbox" style="width:150px;">
                </td>
            </tr>
            <tr>
                <td colspan="4"><font color="red">提示：标红字段允许修改，其他不可修改</font></td>
            </tr>
        </table>
        <input type="hidden" name="user_id" value="{$info.user_id}">
    </fieldset>
</form>
<script type="text/javascript">
    function setData(data) {
        if(!empty(data.user_name)) {
/*            $('#user_name').textbox({
                readonly: true
            });*/
        }
    }

    $(function(){
        $('#pid').combobox({
            url:"{:U('get_user_list')}",
            valueField:'user_id',
            textField:'name'
        });
        $('#pid').combobox('setValue',{$info.pid});
        $('#sex').combobox('setValue',{$info.sex});
        $('#subscribe').combobox('setValue',{$info.subscribe});
        $('#locked').combobox('setValue',{$info.locked});
    });

    function doSearch(value,name){
        $('#pid').combobox({
            url:http_build_query("{:U('get_user_list')}",{keyword:value}),
            valueField:'user_id',
            textField:'name'
        });
//        alert('You input: ' + value+'('+name+')');
    }
</script>