<include file="toolbar" />
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'user_id',width:120, sortable:true">会员ID</th>
        <th data-options="field:'nickname',width:120">微信昵称</th>
        <th data-options="field:'truename',width:120">真实姓名</th>
        <th data-options="field:'par_name',width:120">上级代理</th>
        <th data-options="field:'mobile',width:120">手机号码</th>
        <th data-options="field:'locked',width:60, align:'center',formatter:function(value){return displayYesNo(value);}">禁止登录</th>
        <th data-options="field:'subscribe',width:60, align:'center',formatter:function(value){return displaySubscribe(value);}">是否关注</th>
        <th data-options="field:'add_time',width:120,formatter:function(value){return format_time(value,true,0)}, sortable:true">添加时间</th>
        <th data-options="field:'subscribe_time',width:120,formatter:function(value){return format_time(value,true,0)}, sortable:true">最近关注时间</th>
        <th data-options="field:'userinfo',width:120">关联信息</th>
        <!--隐藏信息-->
        <th data-options="field:'openid',width:120" hidden="true">OPENID</th>
        <th data-options="field:'headimgurl',width:120" hidden="true">头像</th>
        <th data-options="field:'wechat',width:120" hidden="true">微信号</th>
        <th data-options="field:'country',width:120" hidden="true">国家</th>
        <th data-options="field:'province',width:120" hidden="true">省份</th>
        <th data-options="field:'city',width:120" hidden="true">城市</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U()}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, node){
            onOpen('#grid', node);
        }
    });

    /**
     * 格式化时间
     */
    function format_time(unixTime, isFull, timeZone){
        if(unixTime == 0){
            return '';
        }
        if (typeof (timeZone) == 'number')
        {
            unixTime = parseInt(unixTime) + parseInt(timeZone) * 60 * 60;
        }
        var time = new Date(unixTime * 1000);
        var ymdhis = "";
        ymdhis += time.getUTCFullYear() + "-";
        ymdhis += (time.getUTCMonth()+1) + "-";
        ymdhis += time.getUTCDate();
        if (isFull === true)
        {
            ymdhis += " " + time.getUTCHours() + ":";
            ymdhis += time.getUTCMinutes() + ":";
            ymdhis += time.getUTCSeconds();
        }
        return ymdhis;
    }

    /**
     * 返回是或否，关注格式化
     * @param value
     * @returns {string}
     */
    function displaySubscribe(value){
        return value == 1 ? '<font color="green">是</font>' : '否';
    }

    function onSearch() {
        var keyword = $.trim($('[name="keyword"]').val());
        grid.datagrid({
            queryParams: {
                keyword: keyword
            }
        });
    }

    function OpenUrl(url){
//        alert(url);
        blur('#grid');
        var opts = {
            href: url,
            width: 600,
            height: 500,
            data: 123,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function openWindow(title,url){
        blur('#grid');
        parent.openTab(null, title, url, true);
    }

    function onOpen(element, node){
        blur(element);
        var opts = {
            href: http_build_query("{:U('form')}",{'user_id':node.user_id}),
            width: 600,
            height: 500,
            data: node,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onLock(element, locked){
        blur(element);
        var checked = grid.datagrid('getChecked');
        var select = grid.datagrid('getSelected');
        var newdata = [];
        newdata.push(select);
        var rows = checked.length == 0 ? newdata  : checked;
        var items = [];
//        alert(rows.length+'---'+rows[0]);
        if(rows[0] != null){
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的会员！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    grid.datagrid('reload');
                }catch (e){}
            });
        });
    }

</script>