<form id="config-form" data-url="{:U('group_save')}" method="post" class="form-panel padding10">
    <div class="easyui-tabs" data-options="plain:true, border:false">
        <volist name="Think.config.CONFIG_GROUP_LIST" id="group">
        <div title="{$group}配置" style="padding:10px;">
            <table>
                <volist name="list[$key]" id="config">
                <tr>
                    <th>{$config.title}：</th>
                    <td>
                        <switch name="config.type">
                            <case value="1">
                                <input type="text" class="easyui-textbox" name="config[{$config.name}]" value="{$config.value}" style="width:300px;height:30px">
                            </case>
                            <case value="2">
                                <input type="text" class="easyui-textbox" name="config[{$config.name}]" value="{$config.value}" style="width:300px;height:30px">
                            </case>
                            <case value="3">
                                <input type="text" class="easyui-textbox" name="config[{$config.name}]" value="{$config.value}" data-options="multiline:true" style="width:300px;height:100px">
                            </case>
                            <case value="4">
                                <input type="text" class="easyui-textbox" name="config[{$config.name}]" value="{$config.value}" data-options="multiline:true" style="width:300px;height:100px">
                            </case>
                            <case value="5">
                                <select name="config[{$config.name}]" class="easyui-combobox" style="min-width: 100px;">
                                    <volist name=":parse_config_attr($config['extra'])" id="vo">
                                        <option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                        </switch>
                        <span class="tips"><if condition="$config['remark']">（{$config.remark}）</if></span>
                    </td>
                </tr>
                </volist>
            </table>
        </div>
        </volist>
    </div>
    <br>
    <a href="javascript:void(0)" class="easyui-linkbutton button-large" onclick="formSubmit(this)"> 保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton button-large" onclick="easyui.formReset('config-form')"> 重置</a>
</form>
<script type="text/javascript">
    var formSubmit = function(element){
        blur(element);
        easyui.submit('config-form', function(result){
            try{
                easyui.alert(result.info);
                return false;
            }catch (e){}
        })
    };
</script>