<include file="toolbar" />
<table id="grid">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'name',width:120">标识</th>
            <th data-options="field:'title',width:50">标题</th>
            <th data-options="field:'group_name',width:50">分组</th>
            <th data-options="field:'type_name',width:50">类型</th>
            <th data-options="field:'create_time',width:50">添加时间</th>
            <th data-options="field:'update_time',width:60, align:'center'">更新时间</th>
            <th data-options="field:'locked',width:50,formatter: function(value){
                if(value == '1') return '<font color=red>停用</font>';
                return '启用';
            }">状态</th>
        </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U()}",
        fit: true,
        toolbar: '#toolbar',
        border: false,
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            openWindow('#grid', row);
        }
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 600,
            height: 500,
            data: row,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    var searchItem = function(element){
        blur(element);
        var keywords = $.trim($('[name="keywords"]').val());
        var type = $('[name="search_type"]').val();
        var group = $('[name="search_group"]').val();
        grid.datagrid({
            queryParams: {
                keywords: keywords,
                type: type,
                group: group
            }
        });
    };

    var formSubmit = function(element){
        blur(element);
        easyui.submit('toolbar-form', function(result){
            try{
                if(!result.status){
                    easyui.alert(result.info);
                    return false;
                }
                easyui.formReset('toolbar-form');
                grid.datagrid('reload');
            }catch (e){}
        })
    };

    var delItem = function(element, locked){
        blur(element);
        var rows = grid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的选项！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    grid.datagrid('reload');
                }catch (e){}
            });
        });
    };
</script>