<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td>
                <a class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="delItem(this, 1)">停用</a>
                <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="delItem(this, 0)">启用</a>
                <a class="datagrid-btn-separator"></a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
            </td>
            <th>配置类型：</th>
            <td>
                <select name="search_type" class="easyui-combobox" style="width: 100px;">
                    <option value="-1">全部</option>
                    <volist name="Think.config.CONFIG_TYPE_LIST" id="type">
                        <option value="{$key}">{$type}</option>
                    </volist>
                </select>
            </td>
            <th>配置分组：</th>
            <td>
                <select name="search_group" class="easyui-combobox" style="width: 100px;">
                    <option value="-1">全部</option>
                    <option value="0">不分组</option>
                    <volist name="Think.config.CONFIG_GROUP_LIST" id="type">
                        <option value="{$key}">{$type}</option>
                    </volist>
                </select>
            </td>
            <th>关键词：</th>
            <td>
                <input name="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入关键词',onClickButton: function(){searchItem()}">
            </td>
        </tr>
    </table>
</div>