<form data-url="{:U('save')}" method="post" class="dialog-form form-panel">
    <table class="content-layout">
        <tr>
            <th>所属功能：</th>
            <td>
                <input class="easyui-combotree" id="parent_id" name="pid" method="get" data-options="url:'{:U('index?type=parent')}'" style="width:250px;">
            </td>
        </tr>
        <tr>
            <th>功能名称：</th>
            <td><input name="text" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>模块名：</th>
            <td>
                <input name="module" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <th>方法名：</th>
            <td>
                <input name="action" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <th>图标：</th>
            <td>
                <input name="icon_cls" class="easyui-textbox">
            </td>
        </tr>
        <tr>
            <th>排列顺序：</th>
            <td>
                <input name="orderby" class="easyui-numberspinner" data-options="min:0,max:1000,required:true" value="50">
            </td>
        </tr>
        <tr>
            <th>显示：</th>
            <td>
                <input type="radio" name="display" value="1">是
                <input type="radio" name="display" value="0">否
            </td>
        </tr>
        <tr>
            <th>参数：</th>
            <td colspan="3">
                <input type="text" name="params" size="35" class="easyui-textbox">
                <input type="hidden" id="menu_id" name="id" value="0">
            </td>
        </tr>
        <tr>
            <th>备注：</th>
            <td>
                <input name="remark" class="easyui-textbox" style="width:250px;">
            </td>
        </tr>
    </table>
</form>