<include file="toolbar" />
<table id="grid" data-options="fit:true, border:false"></table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    grid.treegrid({
        url:'{:U()}',
        idField:'id',
        toolbar: "#toolbar",
        treeField:'text',
        fitColumns: true,
        selectOnCheck:false,
        checkOnSelect: false,
        onContextMenu: function(e, row){
            e.preventDefault();
            rowId = row.id;
            $('#leftMenu').menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        },
        columns:[[
            {field:'id', checkbox: true},
            {field:'text', title:'功能名称',width:180},
            {field:'module', title:'模块名',width:80},
            {field:'action', title:'方法名',width:80},
            {field:'display', title:'是否显示',width:80, align:'center', formatter: function(value){
                if(value == '1') return '<font color="red">是</font>';
                return '否';
            }},
            {field:'orderby', title:'排序',width:80},
            {field:'power', title:'权限代码',width:150},
            {field:'remark', title:'备注'},
        ]],
        onDblClickRow: function(row){
            openWindow('#grid', row);
        }
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 600,
            height: 450,
            data: row,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function menuHandler(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                if(rowId) {
                    easyui.doAjax('{:U("delete")}', {items: rowId}, function(){
                        grid.treegrid('reload');
                    });
                }
        }

    }

    function deleteItems(element) {
        blur(element);
        var rows = grid.datagrid('getChecked');
        if(rows) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].id);
            }
            items = items.join(',');
            easyui.doAjax('{:U("delete")}', {items: items}, function(){
                grid.treegrid('reload');
            });
        }
    }

</script>