<table id="dialog-grid" >
    <thead>
        <tr>
            <th data-options="field:'role_id',checkbox: true"></th>
            <th data-options="field:'text'" width="180">角色名称</th>
        </tr>
    </thead>
</table>
<div id="dialog-toolbar">
    <table class="form-panel">
        <tr>
            <td>
                <input name="keywords" size="35" class="easyui-textbox">
                <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="dgScript.onSearch(this)">搜索</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var dgScript = {
        dgGrid: $('#dialog-grid'),
        role_list: '{$info.role_list}',
        onSearch: function(element) {
            blur(element);
            this.dgGrid.treegrid('reload', {
                selected: this.role_list,
                text: $('#dialog-toolbar').find('[name="keywords"]').val()
            });
        },
        onStart: function() {
            this.dgGrid.treegrid({
                fit:true,
                border:false,
                url:'{:U("role/index")}',
                toolbar: '#dialog-toolbar',
                idField:'id',
                treeField:'text',
                fitColumns: true,
                selectOnCheck:false,
                checkOnSelect: false,
                queryParams: {
                    selected: this.role_list
                }
            });
        }
    };

    var onReturn = function(){
        var rows = $('[name="role_id"]');
        var items = [];
        if(rows.length > 0) {
            for(var i = 0; i < rows.length; i++) {
                if(rows.eq(i).attr('checked'))
                    items.push(rows.eq(i).val());
            }
        }
        return items.join(',');
    }

    dgScript.onStart();
</script>