<div id="toolbar">
    <fieldset>
        <p>可用余额：<p/><br/>
        <volist id="vo" name="accountdata">
        	<if condition="$vo.account_name neq null">
      		  {$vo.account_name}：<font color="red">￥<if condition="$vo['balance'] neq null">{$vo.balance}<else />0.00</if>元</font><br/>
   			</if>
   		</volist>
    </fieldset>	
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'create_time',width:90">日期</th>
        <th data-options="field:'money',width:120, formatter: function(value){
        return '￥' + value;
        }">金额</th>
        <th data-options="field:'master_name',width:120">管理员</th>
        <th data-options="field:'agent_name',width:120">代理</th>
        <th data-options="field:'content',width:200">备注</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: location.href,
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false
    });
</script>