<include file="toolbar" />
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'user_name',width:120, sortable:true">登录账号</th>
        <th data-options="field:'real_name',width:120">真实姓名</th>
        <th data-options="field:'group_name',width:120">所在组别</th>
        <th data-options="field:'role_name',width:120">角色</th>
        <th data-options="field:'sex',width:50,formatter:function(value){return displaySex(value);}">性别</th>
        <th data-options="field:'locked',width:60, align:'center',formatter:function(value){return displayYesNo(value);}">禁止登录</th>
        <th data-options="field:'create_time',width:120, sortable:true">添加时间</th>
        <th data-options="field:'update_time',width:120, sortable:true">最近编辑时间</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U()}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, node){
            onOpen('#grid', node);
        }
    });

    function onSearch() {
        var keyword = $.trim($('[name="keyword"]').val());
        grid.datagrid({
            queryParams: {
                keyword: keyword
            }
        });
    }

    function onOpen(element, node){
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 600,
            height: 500,
            data: node,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onLock(element, locked){
        blur(element);
        var checked = grid.datagrid('getChecked');
        var select = grid.datagrid('getSelected');
        var newdata = [];
        newdata.push(select);
        var rows = checked.length == 0 ? newdata  : checked;
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].user_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的管理员！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    grid.datagrid('reload');
                }catch (e){}
            });
        });
    }

    function onRecharge() {
        var checked = grid.datagrid('getChecked');
        var select = grid.datagrid('getSelected');
        var user = checked.length == 0 ?  select : checked[0];
        if(!user) {
            easyui.alert('请在上面的表格中选择需要充值的人员！');
            return false;
        }
        var opts = {
            href: '{:U("recharge")}',
            title: '充值',
            width: 500,
            height: 300,
            handler: function(result){
                result.user_id = user.user_id;
                easyui.ajaxCall('{:U("recharge")}', result,function(result){
                    if(result.info){
                        easyui.alert(result.info);
                    }
                });
            }
        };
        easyui.dialog(opts);
    }

    function onConsume() {
        var checked = grid.datagrid('getChecked');
        var select = grid.datagrid('getSelected');
        var user = checked.length == 0 ?  select : checked[0];
        if(!user) {
            easyui.alert('请在上面的表格中选择代理商！');
            return false;
        }
        var opts = {
            href: http_build_query('{:U("consume")}', {user_id: user.user_id}),
            title: '收支明细',
            width: 900,
            height: 500
        };
        easyui.dialog(opts);
    }
</script>