<form id="master-form" data-url="{:U('save')}" method="post">
    <fieldset>
        <h2 class="legend">基础信息</h2>
        <table class="form-panel content-layout">
            <tr>
                <th>所属组别：</th>
                <td>
                    {:get_group_name($info['group_id'])}
                </td>
                <th>所属角色：</th>
                <td>
                    {:get_role_name($info['role_id'])}
                </td>
            </tr>
            <tr>
                <th>登录账号：</th>
                <td>
                    {$info.user_name}
                </td>
                <th>真实名称：</th>
                <td>
                    {$info.real_name}
                </td>
            </tr>
            <tr>
                <th>登录密码：</th>
                <td>
                    <input type="password" name="password" id="password" class="easyui-textbox">
                </td>
                <th>确认密码：</th>
                <td>
                    <input type="password" name="confirm_password" id="confirm_password" class="easyui-textbox">
                </td>
            </tr>
            <tr>
                <th>性&nbsp;&nbsp;&nbsp;&nbsp;别：</th>
                <td>
                    {:display_sex_name($info[sex])}
                </td>
                <th></th>
                <td>
                </td>
            </tr>
        </table>
        <input type="hidden" name="user_id" value="{$info.user_id}">
        <br>
        <a href="javascript:void(0)" class="easyui-linkbutton button-small" onclick="formSubmit(this)"> 保存</a>
    </fieldset>
</form>
<script type="text/javascript">
    var formSubmit = function(element){
        blur(element);
        var password = $('#password').textbox('getValue');
        var confirm_password = $('#confirm_password').textbox('getValue');
        if(password == '' || confirm_password == '') return false;
        if(password != confirm_password) return false;
        easyui.submit('master-form', function(result){
            try{
                easyui.alert(result.info, function() {
                    parent.reflashTab();
                });
                return false;
            }catch (e){}
        })
    };
</script>