<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td width="100%">
                <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="onOpen(this)">添加</a>
                <a class="datagrid-btn-separator"></a>
                <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onLock(this, 0)">允许登录</a>
                <a class="easyui-linkbutton" iconCls="icon-lock" plain="true" onclick="onLock(this, 1)">禁止登录</a>
                <a class="datagrid-btn-separator"></a>
                <!-- a class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="openLogWindow()">查看操作日志</a-->
            </td>
            <td>
                <input name="keyword" class="easyui-textbox" data-options="buttonText:'SEARCH',prompt:'请输入关键词...',onClickButton: onSearch" style="width:250px;">
            </td>
        </tr>
    </table>
</div>