<form data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>支付名称：</th>
            <td><input name="pay_name" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>支付代码：</th>
            <td><input name="pay_code" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>支付费用：</th>
            <td><input name="pay_fee" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>描述：</th>
            <td><input name="pay_desc" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>是否锁定：</th>
            <td>
                <input type="radio" name="locked" value="1">是
                <input type="radio" name="locked" value="0">否
            </td>
        </tr>
        <tr>
            <th>在线支付：</th>
            <td>
                <input type="radio" name="is_online" value="1">是
                <input type="radio" name="is_online" value="0">否
            </td>
        </tr>
    </table>
    <input type="hidden" name="pay_id">
</form>