@charset "utf-8";
/* webrx CSS Document */
/*-------------------------------------------标题栏-----------------------------------------*/
.wrap{
	max-width:720px;}
.header{
	width:100%;
	height:44px;
	background-color:#02a7e3;
	position:relative;}
.header .iconBack{
	display:inline-block;
	width:25px;
	height:25px;
	background:url(../images/huiyi/fanhui.png) no-repeat 0 0;
	background-size:cover;
	position:absolute;
	left:10px;
	top:9px;}
.header .iconCont{
	display:inline-block;
	width:25px;
	height:25px;
	background:url(../images/qizhi.png) no-repeat 0 0;
	background-size:cover;
	position:absolute;
	right:10px;
	top:9px;}
.header h1{
	display:inline-block;
	width:100%;
	height:44px;
	text-align:center;
	font:normal 17px/44px "微软雅黑";
	color:#FFFFFF;}
	
/*-------------------------------------------已报名会议-----------------------------------------*/

.myMeet,.recomMeet{
	min-height:50px;
	padding:15px;}
.myMeet2 .mainTitle p{
	width:180px;
	height:35px;
	font:normal 14px/16px "微软雅黑";}
.mainTitle2{
	width:180px;
	margin:0 auto;
	margin-top:5px;}
.mainTitle2 em,.mainTitle2 b{
	display:block;
	font:normal 14px/20px "微软雅黑";
	color:#cccccc;}
.myMeet h2,.recomMeet h2{
	font-size:17px;
	color:#333333;
	margin-bottom:10px;}
.myMeet h2 span,.recomMeet h2 span{
	display:inline-block;
	width:4px;
	height:17px;
	background-color:#02a7e3;
	border-radius:2px;
	margin-right:7px;
	margin-bottom:-2px;}
.myMeet h2 em,.recomMeet h2 em{
	display:inline-block;
	font:normal 18px/18px "微软雅黑";}
.content{
	padding:7px 12px 12px 12px;
	min-height:30px;
	border:1px solid #e5e5e5;
	border-bottom:5px solid #e5e5e5;}
.content2{
	border-radius:5px;
	border:1px solid #e5e5e5;}
.content .time{
	height:20px;
	margin-bottom:10px;}
.content .time span{
	display:inline-block;
	float:left;
	width:70px;
	height:20px;
	background-color:#ff872f;
	font:normal 12px/20px "微软雅黑";
	color:#FFFFFF;
	font-weight:900;
	text-align:center;
	border-radius:10px;}
.content .time em{
	display:inline-block;
	font:normal 12px/22px "微软雅黑";
	color:#f8a0a0;
	float:right;}
.content a.active1{
	display:block;
	padding:2px;}
.content a.active1:active{
	background-color:#eeeeee;}
.content .mainTitle>p:first-child{
	font:normal 17px/20px "微软雅黑";
	font-weight:900;
	color:#333333;
	margin-bottom:9px;}
.content .mainTitle>p:last-child{
	font:normal 12px/12px "微软雅黑";
	color:#999999;}
.content .mainTitle>p:first-child a,.content .mainTitle>p:last-child a{
	display:block;
	color:#333333;}
.content .mainTitle>p:first-child a:active,.content .mainTitle>p:last-child a:active{
	background-color:#999999;}
.marBotom{
	margin-bottom:10px;}
.divid{
	max-width:72px;
	width:100%;
	height:15px;
	background-color:#f0f0f0;}

/*-------------------------------------------精选会议推荐-----------------------------------------*/

.mBanner1{
	height:120px;
	margin-bottom:10px;}
.mBanner1 img{
	width:100%;
	height:100%;
	display:block;}
.recomMeet h3{
	font:normal 16px/20px "微软雅黑";
	margin-bottom:5px;
	color:#333333;}
.recomMeet i,.recomMeet b{
	display:block;
	font:normal 12px/16px "微软雅黑";
	color:#999999;}
.recomMeet1{
	position:relative;
	margin-bottom:15px;}
.recomMeet .detail{
	display:block;
	width:98px;
	height:30px;
	background-color:#02a6e3;
	border-radius:5px;
	text-align:center;
	position:absolute;
	right:15px;
	bottom:0px;}
.recomMeet .deactive:active{
	text-decoration:none;
	background-color:#0292c8;}
.recomMeet .detail em{
	font:normal 14px/30px "微软雅黑";
	color:#FFFFFF;}
.recomMeet .divid{
	max-width:720px;
	height:1px;
	background-color:#e5e5e5;
	margin-bottom:15px;}
.recomMeet .detailBg{
	background-color:#f2f2f2;}
.recomMeet .detailBg em{
	color:#999999;}

.recomMeet1 .detaiHre{
	display:block;
	padding:2px;}
.recomMeet1 .detaiHre h3{
	color:#333333;}
.recomMeet1 .detaiHre:active{
	background-color:#f2f2f2;}

/*-------------------------------------------会议详情-----------------------------------------*/

.wrapBg{
	background-color:#f0f0f0;}
.detailTop{
	border:1px solid #e0e0e0;
	border-width:1px 1px 0 1px;
	border-bottom:solid 1px #f0f0f0;
	height:107px;
	padding:15px;
	min-height:350px;
	background-color:#FFFFFF;
	border-radius:5px 5px 0 0;
	position:relative;}
.detaHre{
	height:80px;
	display:block;
	padding-bottom:10px;
	border-bottom:2px dashed #f0f0f0;}
.detaHre:active{
	background-color:#f0f0f0;}
.detailTop h2{
	font:normal 16px/18px "微软雅黑";
	height:18px;
	color:#333333;
	font-weight:800;
	margin-bottom:8px;}
.detailTop p{
	font:normal 13px/18px "微软雅黑";
	color:#999999;}
.detailTop .fontRed{
	color:#f13535;}
.detailTop span img{
	display:block;
	width:50%;
	height:50%;}
.detailTop .zhiXiang{
	display:block;
	position:absolute;
	top:43px;
	right:15px;}
.detailTop .erWei{
	padding-bottom:25px;}
.detailTop .erWei .erweim{
	display:block;
	width:154px;
	height:154px;
	border:1px solid #999999;
	padding:6px;
	margin:15px auto 0 auto;}
.detailTop .erWei .erweim img{
	display:block;
	margin:0 auto;
	width:153px;
	height:153px;}
.detailTop .erWei .piaoHao{
	text-align:center;
	color:#666666;
	margin:18px 0 0 0;
	font:normal 12px/16px "微软雅黑";}
.detailTop .erWei .piaoHao em{
	font-size:16px;}
.detailTop .erWei .jinXian{
	text-align:center;
	font:normal 12px/12px "微软雅黑";
	margin:10px auto 0 auto;}
.wrap .pingD{
	border:1px solid #e0e0e0;
	border-width:0px 1px 1px 1px;
	text-align:center;
	font:normal 14px/43px "微软雅黑";
	color:#333333;
	height:43PX;
	border-radius:0 0 5px 5px;
	background-color:#FFFFFF;}

.detaHre .detaHre{
	position:relative;}
.iconLeft{
	display:block;
	width:12px;
	height:24px;
	background:url(../images/baomming_03.jpg) no-repeat 0 0;
	background-size:cover;
	position:absolute;
	left:-1px;
	top:92px;
	z-index:10;}
.iconRight{
	display:block;
	width:12px;
	height:24px;
	background:url(../images/baomming_05.jpg) no-repeat 0 0;
	background-size:cover;
	position:absolute;
	right:-1px;
	top:92px;
	z-index:10;}
.iconEnd{
	display:block;
	width:50px;
	height:50px;
	background:url(../images/end.png) no-repeat 0 0;
	background-size:cover;
	position:absolute;
	right:20px;
	top:80px;
	z-index:10;}


.wrap .share{
	height:89px;
	padding:0 0px 0 15px;
	position:relative;
	border:1px solid #e0e0e0;
	border-width:1px 0 1px 0;}
.wrap .share .yaoqHre,.wrap .share .canhHre{
	display:block;}
.wrap .share .yaoqHre:active,.wrap .share .canhHre:active{
	text-decoration:none;
	background-color:#f0f0f0;}
.wrap .share p{
	font:normal 14px/45px "微软雅黑";
	color:#666666;
	padding-left:28px;}
.wrap .share .feng{
	height:1px;
	background-color:#eaeaea;}
.wrap .share .yaoq{
	background:url(../images/fri.jpg) no-repeat 0 12px;
	background-size:21px 21px;}
.wrap .share .zhi1{
	display:block;
	position:absolute;
	right:15px;
	top:15px;
	z-index:20;}
.wrap .share .zhi2{
	display:block;
	position:absolute;
	right:15px;
	bottom:15px;
	z-index:20;}
.wrap .share .contant{
	display:block;
	position:absolute;
	right:30px;
	bottom:9px;
	z-index:20;}
.wrap .share .contant em{
	font:normal 16px/26px "微软雅黑";
	color:#fc5c5c;}
.wrap .share .zhi1 img,.wrap .share .zhi2 img{
	width:8px;
	height:14px;}
.wrap .share .canh{
	background:url(../images/fre.jpg) no-repeat 0 12px;
	background-size:20px 19px;}

.wrap .inforList span{
	display:block;
	height:15px;
	margin-bottom:13px;}
.wrap .inforList span em,.wrap .inforList span b{
	display:inline-block;
	height:15px;
	font:normal 14px/15px "微软雅黑";
	color:#333333;}
.wrap .inforList span em{
	margin-right:10px;
	color:#666666;
	text-align:left;}
.wrap .inforList span b{
	font-weight:800;}
.wrap .inforList span em{
	width:80px;}
.wrap .inforList2 span em{
	text-align:left;
	display:inline-block;
	width:80px;}
.wrap .inforList2>span:nth-child(2) em{
	text-align:left;
	width:80px;}
.recomMeet2{
	border:1px solid #e0e0e0;
	border-width:1px 0 1px 0;}
.feng2{
	height:15px;
	background-color:#f0f0f0;}
.chaKan{
	display:block;
	height:44PX;
	color:#FFFFFF;
	font:normal 16PX/44PX "微软雅黑";
	font-weight:800;
	text-align:center;
	background-color:#02a6e3;
	border-radius:5px;
	margin:0 15px 0px 15px;
	border:1px solid #0092c8;
	}
.chaKan:active{
	color:#FFFFFF;
	background-color:#0092c8;}
.chaKan2{
	background-color:#f0f0f0;
	padding-bottom:70px;}

/*-------------------------------------------扫描二维码-----------------------------------------*/

.out{
	max-width:740px;
	height:100%;
	padding:0;}
.outBody{
	padding-bottom:60px;}
.dowBpic{
	width:96%;
	margin:0 auto;
	border-radius:5px;
	border:1px solid #FFFFFF;
	height:66px;
	position:relative;
	background-color:#000000;
	padding-top:8px;
	position:relative;
	margin-bottom:10px;}
.dowBpicOut{
	padding-top:10px;
	background-color:#000000;
	height:86px;}
.dowBpic>span:first-child{
	vertical-align:middle;
	text-align:justify;
	display:block;
	width:296px;
	height:50px;
	font:normal 16px/24px "微软雅黑";
	color:#fff600;
	margin:0 auto;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-148px;
	margin-top:-25px;}
.dowBpic>span:last-child{
	font-size:40px;
	color:#333333;
	position:absolute;
	left:46%;
	top:73px;}
.dowBpic>span:last-child img{
	display:block;
	width:30px;
	height:10px;}
.dowBpic span i,.dowBpic span strong{
	font-weight:800;}
.dowBpic span strong{
	font-weight:100;}
.dowBpic span i{
	color:#fe0000;}
.dowBpic span b{
	text-decoration:underline;
	font-weight:bold;}
.dowBpic2 img{
	margin:0 auto;
	display:block;
	width:100%;
	height:100%;}
/*----------------------------------------------参会名单-------------------------*/

.bodyBg{
	background-color:#f5f5f5;}
.bodyBg .inforList3{
	margin-bottom:15px;
	background-color:#FFFFFF;
	border:1px solid #e5e5e5;
	border-bottom:5px solid #e5e5e5;}
.bodyBg .inforList3 span b{
	color:#666666;}
.bodyBg .inforList3 span{
	padding-left:10px;
	color:#666666;}
.bodyBg .inforList3>span:first-child{
	border-bottom:1px solid #e5e5e5;
	height:35px;
	line-height:35px;}
.bodyBg .inforList3>span:first-child em{
	font-size:16px;
	color:#333333;
	font-weight:600;
	margin-right:20px;}
.bodyBg .inforList3>span:first-child b{
	font-size:16px;
	color:#02a7e3;}
.bodyBg .inforList3 span em{
	width:auto;
	margin-right:5px;
	color:#999999;}
.recomMeet3{
	border:none;}

/*-----------------------------------------------会议内容-----------------------------*/

.metContent{
	height:415px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px 15px 0 15px;}


