<form data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>应用名称：</th>
            <td><input name="app_name" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>APP_KEY：</th>
            <td>
                <input name="app_key" id="app_key" class="easyui-textbox" size="25" data-options="required:true">
                <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" onclick="onCrypt('biz', 'app_key', 16)">生成</a>
            </td>
        </tr>
        <tr>
            <th>APP_SECRET：</th>
            <td>
                <input name="app_secret" id="app_secret" class="easyui-textbox" size="25" data-options="required:true">
                <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit"  onclick="onCrypt(true, 'app_secret', 35)">生成</a>
            </td>
        </tr>
        <tr>
            <th>是否锁定：</th>
            <td>
                <input type="radio" name="locked" value="1">是
                <input type="radio" name="locked" value="0">否
                <input type="hidden" name="app_id">
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    function onCrypt(prefix, obj, n) {
        var key = createKey(prefix, n);
        $('#' + obj).textbox('setValue', key);
    }
</script>