<div id="toolbar">
    <table class="form-panel">
        <tr>
            <td width="100%">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onLock(this, 0)">解锁</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="onLock(this, 1)">锁定</a>
            </td>
            <td>
                <input id="keyword" class="easyui-textbox" data-options="buttonText:'SEARCH',prompt:'请输入关键词...',onClickButton: function(){onSearch();}" style="width:250px;">
            </td>
        </tr>
    </table>
</div>
<table id="dataGrid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'app_name',width:50">应用名称</th>
        <th data-options="field:'app_id',width:50">APP_ID</th>
        <th data-options="field:'app_key',width:120">APP_KEY</th>
        <th data-options="field:'app_secret', width:120">APP_SECRET</th>
        <th data-options="field:'locked',width:120, formatter: function(value){
                if(value == '1') return '<font color=red>不可用</font>';
                return '正常';
            }">状态</th>
        <th data-options="field:'create_time',width:120, sortable:true">添加时间</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var dataGrid = $('#dataGrid');
    dataGrid.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, node){
            openWindow('#dataGrid', node);
        }
    });

    function onSearch() {
        dataGrid.datagrid({
            queryParams: {
                keywords: $('#keyword').textbox('getValue')
            }
        });
    }

    function openWindow(element, row){
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 300,
            data: row,
            handler: function(result){
                dataGrid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onLock(element, locked){
        blur(element);
        var rows = dataGrid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].app_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作项！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    dataGrid.datagrid('reload');
                }catch (e){}
            });
        });
    }
</script>