<form id="masterForm" data-url="{:U('save')}" method="post">
    <fieldset>
        <legend>基础信息</legend>
        <table class="form-panel content-layout">
            <tr>
                <th>登录账号：</th>
                <td>
                    <input name="special_number" class="easyui-textbox" value="{$info.special_number}" data-options="required:true">
                </td>
                <th>真实名称：</th>
                <td>
                    <input name="user_name" id="user_name" class="easyui-textbox" value="{$info.user_name}" data-options="required:true">
                </td>
            </tr>
            <tr>
                <th>登录密码：</th>
                <td>
                    <input type="password" name="password" class="easyui-textbox">
                </td>
                <th>确认密码：</th>
                <td>
                    <input type="password" name="confirm_password" class="easyui-textbox">
                </td>
            </tr>
            <tr>
                <th>是否锁定：</th>
                <td>
                    <select name="locked" class="easyui-combobox" style="width: 60px;">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
               
                <th>性&nbsp;&nbsp;&nbsp;&nbsp;别：</th>
                <td>
                    <select name="sex" class="easyui-combobox" style="width: 60px;">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>渠道：</th>
                <td>
                    <input name="channel_id" class="easyui-combobox" data-options="valueField:'id',textField:'text',url:'{:U('getChannel')}'" />
                </td>
                <th>所属角色：</th>
                <td>
                    <input class="easyui-combotree"  name="role_id" method="get" data-options="url:'{:U('role/index?type=select')}'" style="width:150px;">
                </td>
            </tr>
        </table>
        <input type="hidden" name="user_id">
    </fieldset>
</form>
<script type="text/javascript">
    function setData(data) {
        if(!empty(data.user_name)) {
/*            $('#user_name').textbox({
                readonly: true
            });*/
        }
    }
</script>