<form id="submit-form" data-url="{:U('')}" method="post" class="form-panel">
    <table  class="form-panel content-layout">
        <tr>
            <th>用户名：</th>
            <td>
                <input class="easyui-textbox" value="{$info.name}" data-options="readonly:true">
            </td>
        </tr>
        <tr>
            <th>原密码：</th>
            <td>
                <input class="easyui-textbox" type="password" name="oldPass">
            </td>
        </tr>
        <tr>
            <th>新密码：</th>
            <td>
                <input class="easyui-textbox" type="password" name="newPass">
            </td>
        </tr>
        <tr>
            <th>确认密码：</th>
            <td>
                <input  class="easyui-textbox"  type="password"  name="newPassconfirm">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <a href="#" class="easyui-linkbutton" style="width:50px;" onclick="formSubmit(this)">修改</a>
                <a href="#" class="easyui-linkbutton" style="width:50px;" onclick="formReset(this)">重置</a>
            </td>
        </tr>
    </table>
</form>
<script>
    function formSubmit(element) {
        blur(element);
        easyui.submit('submit-form', function(result){
            try{
                if(result.status){
                    easyui.confirm(result.info, function(isOk){

                    });
                }else{
                    easyui.confirm(result.info, function(isOk){

                    });
                }

            }catch (e){}
        })
    }
    function formReset(element) {
        blur(element);
        easyui.formReset('submit-form');
    }
</script>