<div class="form-panel">
    <table width="100%" class="list-table thright">
        <tr>
            <th width="100">充值金额：</th>
            <td>
                <input id="money" name="money" class="easyui-numberbox" precision="2" data-options="required:true" style="width:200px; height: 30px;"> 元 <span class="tips">负数为消减余额</span>
            </td>
        </tr>
        <tr>
            <th width="100">备注：</th>
            <td>
                <input name="content" class="easyui-textbox" data-options="multiline:true" style="width:200px; height: 80px;">
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function onValidate() {
    	var account = $('[name="account_id"]').val();
    	if(account==-1){
    		alert('必须选择充值账号');
    		return false;
    	}
        return $('.form-panel').form('validate');
    }
    function onReturn() {
        return {
            money: $('[name="money"]').val(),
            content: $('[name="content"]').val(),
            account_id: $('[name="account_id"]').val()
        };
    }
    
   
   
</script>
