<div class="hidHeight"></div>
<div class="navBottom">
    <dl class="clearfix">
        <dd class="navBottomFirst">
            <p class="navBottomItem">
                <!--<a href="stu_profile.html"><img src="__IMG__/tp8lz7ik.png" /></a>-->
                <if condition="defined('USER_ID')">
                    <a href="{:U('home/member/index')}"><img src="{$Think.const.HEADIMGURL}" /></a>
                <else/>
                    <!--用户没设置头像或未获取到用户头像，显示默认头像-->
                    <a href="{:U('home/member/index')}"><img src="__IMG__/tp8lz7ik.png" /></a>
                </if>
            </p>
        </dd>
        <dd>
            <p class="navBottomItem"><a href="{:U('goods/index')}">产品购买</a></p>
        </dd>

        <dd>
            <p class="navBottomItem"><a href="{:U('member/index')}">代理中心</a></p>
        </dd>

        <dd>
            <p class="navBottomItem"><a href="http://mp.weixin.qq.com/s?__biz=MzA4NTU1NjU2NQ==&mid=404012163&idx=1&sn=d0767f8bd157c37f25f63e70f55ff9af&scene=1&srcid=0314PVTY9tnDILY0LJunffqM#rd">客服中心</a></p>
        </dd>
    </dl>
</div>
