<form id="form" data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>等级名称：</th>
            <td>
                <input name="grade_name" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <th>等级代码：</th>
            <td>
                <input name="grade_code" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <th>预付货款：</th>
            <td>
                <input type="text" name="pay_money" class="easyui-numberspinner" data-options="min:0,required:true">
            </td>
        </tr>
        <tr>
            <th>等级排序：</th>
            <td>
                <input type="text" name="orderby" class="easyui-numberspinner" data-options="min:1,max:1000,required:true">
            </td>
        </tr>
        <tr>
            <th>允许下单：</th>
            <td>
                <input type="radio" name="allow_order" value="1">是
                <input type="radio" name="allow_order" value="0">否
            </td>
        </tr>
        <tr>
            <th>上传证照：</th>
            <td>
                <input type="radio" name="must_upload" value="1">是
                <input type="radio" name="must_upload" value="0">否
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="grade_id">
            </td>
        </tr>
    </table>
</form>