<include file="toolbar" />
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'grade_name',width:120">等级名称</th>
        <th data-options="field:'orderby',width:50">等级排序</th>
        <th data-options="field:'grade_code',width:50">等级代码</th>
        <th data-options="field:'pay_money',width:50">预付货款</th>
        <th data-options="field:'allow_order',width:20, align:'center', formatter: function(value){
                if(value == '1') return '<font color=red>是</font>';
                return '否';
            }">允许下单</th>
        <th data-options="field:'must_upload',width:20, align:'center', formatter: function(value){
                return value == '1' ? '<font color=red>是</font>' : '否';
            }">上传证照</th>
        <th data-options="field:'create_time',width:50,align:'center'">添加时间</th>
        <th data-options="field:'update_time',width:50, align:'center'">更新时间</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U()}",
        fit: true,
        toolbar: '#toolbar',
        border: false,
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            openWindow('#grid', row);
        }
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 300,
            data: row,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onSearch() {
        var keywords = $.trim($('#keywords').val());
        grid.datagrid({
            queryParams: {
                keywords: keywords
            }
        });
    }

    function onDelete(element) {
        blur(element);
        var rows = grid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].grade_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的选项！');
            return false;
        }

        easyui.doAjax('{:U("delete")}', {itemid: items}, function () {
            grid.datagrid('reload');
        });
    }
</script>