<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td width="100%">
                <a class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="onDelete(this)">删除</a>
                <a class="datagrid-btn-separator"></a>
                <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
            </td>
            <td>
                <input id="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入关键词',onClickButton: function(){onSearch()}">
            </td>
        </tr>
    </table>
</div>