<include file="toolbar" />
<table id="grid"  data-options="fit:true, border:false"></table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    $(function(){
        grid.treegrid({
            url: "{:U()}",
            idField:'id',
            toolbar: "#toolbar",
            treeField:'text',
            fitColumns: true,
            onContextMenu: function(e, row){
                e.preventDefault();
                rowId = row.id;
                $('#leftMenu').menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            columns:[[
                {field:'text',title:'分类名称',width:120},
                {field:'description',title:'描述',width:200},
                {field: 'orderby', title:'排序', width:50}
            ]],
            onDblClickRow: function(row){
                openWindow('#grid', row);
            }
        });
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 500,
            data: row,
            handler: function(result){
                grid.treegrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function menuHandler(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                if(rowId){
                    easyui.doAjax('{:U("delete")}', {itemid: rowId}, function(){
                        grid.treegrid('reload');
                    });
                }
        }

    }

    function onSearch() {
        grid.treegrid('reload', {
            keyword: $('#keyword').val()
        });
    }
</script>