<div id="toolbar" class="form-panel">
	<fieldset>
		<table>
			<tr>
				<td>
					<form id="toolbarSearch" action="javascript:;">
					下单时间:<input class="easyui-datebox" name="begindate" id="begindate" data-options="formatter:date_formatter,parser:date_parser"> ~ <input class="easyui-datebox" name="enddate" id="enddate" data-options="formatter:date_formatter,parser:date_parser">
					<input id="mobile" name="mobile" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入手机号',buttonIcon:'icon-search',onClickButton: function(){onSearch()}" style="width: 250px;">
					</form>
				</td> 
				<td width="50px"></td>
				<td>
					<form id="exportForm" action="{:U('download')}" method="post">
						<a type="button" id="export" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="onDownload()">导出</a>
						<input id="export_type_1" type="radio" name="export_type" value="1" checked/><label for="export_type_1">今天</label>
						<input id="export_type_2" type="radio" name="export_type" value="2"/><label for="export_type_2">全部</label>
						<input id="export_type_3" type="radio" name="export_type" value="3"/><label for="export_type_3">按条件</label>
					</form>
				</td>                   
			</tr>
		</table>    
	</fieldset>
</div>
<table id="agentTable">
    <thead>
    <tr>
        <th data-options="field:'name',width:80">姓名</th>
        <th data-options="field:'mobile',width:80">手机号码</th>
        <th data-options="field:'qq',width:80">QQ</th>
        <th data-options="field:'weixin',width:80">微信</th>
        <th data-options="field:'create_time',width:80">时间</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    var agentTable = $('#agentTable');
    agentTable.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true
    });
    
    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        agentTable.datagrid({
            queryParams: query
        });
    }
    
    function onDownload() {
        var type = $('[name="export_type"]:checked').val();
        if(typeof type == 'undefined') {
            alert('请选择导出类型');
            return false;
        }
        $('#exportForm .textbox-value').remove();
        $('#exportForm').append($('#toolbarSearch .textbox-value').clone()).submit();
    }
</script>