<form id="form" data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>信誉名称：</th>
            <td>
                <input name="text" class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="id">
            </td>
        </tr>
    </table>
</form>