<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td width="100%">
                <a class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="onDelete(this)">删除</a>
                <a class="datagrid-btn-separator"></a>
                <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="onOpen(this, {})">添加</a>
            </td>
            <td>
                <input id="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入关键词',onClickButton: function(){onSearch()}">
            </td>
        </tr>
    </table>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'text',width:120">信誉名称</th>
        <th data-options="field:'create_time',width:50,align:'center'">添加时间</th>
        <th data-options="field:'update_time',width:50, align:'center'">更新时间</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        url: "{:U()}",
        fit: true,
        toolbar: '#toolbar',
        border: false,
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            onOpen('#grid', row);
        }
    });

    function onOpen(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 300,
            data: row,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onSearch() {
        var keywords = $.trim($('#keywords').val());
        grid.datagrid({
            queryParams: {
                keywords: keywords
            }
        });
    }

    function onDelete(element) {
        blur(element);
        var rows = grid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].grade_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的选项！');
            return false;
        }

        easyui.doAjax('{:U("delete")}', {itemid: items}, function () {
            grid.datagrid('reload');
        });
    }
</script>