<form data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>快递名称：</th>
            <td><input name="shipping_name" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>快递代码：</th>
            <td><input name="shipping_code" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>是否锁定：</th>
            <td>
                <input type="radio" name="locked" value="1">是
                <input type="radio" name="locked" value="0">否
            </td>
        </tr>
        <tr>
            <th>是否货到付款：</th>
            <td>
                <input type="radio" name="is_cod" value="1">是
                <input type="radio" name="is_cod" value="0">否
            </td>
        </tr>
    </table>
    <input type="hidden" name="shipping_id">
</form>