<div id="toolbar">
    <table class="form-panel">
        <tr>
            <td width="100%">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onLock(this, 0)">解锁</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="onLock(this, 1)">锁定</a>
            </td>
            <td>
                <input id="keyword" class="easyui-textbox" data-options="buttonText:'SEARCH',prompt:'请输入关键词...',onClickButton: function(){onSearch();}" style="width:250px;">
            </td>
        </tr>
    </table>
</div>