<form data-url="{:U('save')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>账户名称：</th>
            <td><input name="account_name" class="easyui-textbox" size="25" data-options="required:true"></td>
        </tr>
        <tr>
            <th>是否锁定：</th>
            <td>
                <input type="radio" name="locked" value="1">是
                <input type="radio" name="locked" value="0">否
            </td>
        </tr>
    </table>
    <input type="hidden" name="account_id">
</form>