<include file="toolbar"/>
<table id="dataGrid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'account_id',width:50">账户ID</th>
        <th data-options="field:'account_name',width:120">账户名称</th>
        <th data-options="field:'locked',width:120, formatter: function(value){
                if(value == '1') return '<font color=red>不可用</font>';
                return '正常';
            }">状态</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var dataGrid = $('#dataGrid');
    dataGrid.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        rownumbers:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, node){
            openWindow('#dataGrid', node);
        }
    });

    function onSearch() {
        dataGrid.datagrid({
            queryParams: {
                keywords: $('#keyword').textbox('getValue')
            }
        });
    }

    function openWindow(element, row){
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 500,
            height: 300,
            data: row,
            handler: function(result){
                dataGrid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onLock(element, locked){
        blur(element);
        var rows = dataGrid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].account_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的付款账户！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.ajaxCall('{:U("lock")}', {items: items, locked: locked}, function(result){
                try{
                    if(!result.status){
                        easyui.alert(result.info);
                    }
                    dataGrid.datagrid('reload');
                }catch (e){}
            });
        });
    }
</script>