<include file="toolbar"/>
<table id="treeGrid" data-options="fit:true, border:false"></table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:handler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var treeGrid = $('#treeGrid');
    var rowId = 0;
    treeGrid.treegrid({
        url: '{:U("", array("module" => $module))}',
        idField: 'id',
        toolbar: "#toolbar",
        treeField: 'title',
        fitColumns: true,
        selectOnCheck: false,
        checkOnSelect: false,
        onContextMenu: function (e, row) {
            e.preventDefault();
            rowId = row.id;
            $('#leftMenu').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        },
        columns: [[
            {field: 'id', checkbox: true},
            {field: 'title', title: '类别名称', width: 180},
            {field: 'orderby', title: '排序', width: 80},
            {field: 'create_time', title: '添加时间', width: 80},
            {field: 'update_time', title: '最近更新时间', width: 80}
        ]],
        onDblClickRow: function (row) {
            openWindow('#treeGrid', row);
        }
    });

    function openWindow(element, row) {
        blur(element);
        var opts = {
            href: '{:U("form")}',
            width: 600,
            height: 400,
            data: row,
            handler: function (result) {
                treeGrid.treegrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function handler(item) {
        switch (item.name) {
            case 'reload':
                treeGrid.treegrid('reload');
                break;
            case 'delete':
                if (rowId) {
                    easyui.doAjax('{:U("delete")}', {items: rowId}, function () {
                        treeGrid.treegrid('reload');
                    });
                }
        }
    }


    function deleteItems(element) {
        blur(element);
        var rows = treeGrid.datagrid('getChecked');
        if(rows) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].id);
            }
            items = items.join(',');
            easyui.doAjax('{:U("delete")}', {items: items}, function(){
                treeGrid.treegrid('reload');
            });
        }
    }

    function searchItem(){
        treeGrid.treegrid('reload',{
            keyword:$.trim($('[name="keywords"]').val())
        })
    }


</script>