<form id="form" data-url="{:U('add')}" method="post" class="form-panel">
    <table>
        <tr>
            <th>联系人：</th>
            <td><input name="contact" class="easyui-textbox" data-options="required:true" style="width:300px;"></td>
        </tr>
        <tr>
            <th>微信号：</th>
            <td><input name="wecha_name" class="easyui-textbox" data-options="required:true" style="width:300px;"></td>
        </tr>
        <tr>
            <th>电子邮箱：</th>
            <td><input name="email" class="easyui-textbox" data-options="required:true" style="width:300px;"></td>
        </tr>
        <tr>
            <th>手机号码：</th>
            <td><input name="mobile" class="easyui-textbox" data-options="required:true" style="width:300px;"></td>
        </tr>
        <tr>
            <th>性别：</th>
            <td>
                <input type="radio" name="sex" value="1" readonly="true"> 男
                <input type="radio" name="sex" value="2" readonly="true"> 女
            </td>
        </tr>
        <tr>
            <th>代理级别：</th>
            <td>
                <select class="easyui-combobox" name="grade_id" style="width: 300px;">
                    <option value="">请选择...</option>
                    <volist name="grade_lists" id="vo">
                        <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                    </volist>
                </select>
            </td>
        </tr>
    </table>
</form>