<div id="toolbar">
    <form id="toolbarSearch" action="javascript:;">
        <fieldset>
            <h2 class="legend">查询</h2>
            <select class="easyui-combobox" name="grade_id" style="width: 150px;">
                <option value="0">选择等级查询</option>
                <volist name="grade_lists" id="vo">
                    <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                </volist>
            </select>
            <input name="id_number" class="easyui-textbox" data-options="prompt:'输入身份证查询'">
            <input name="user_no" class="easyui-textbox" data-options="prompt:'输入编号查询'">
            <input name="contact" class="easyui-textbox" data-options="prompt:'输入联系人查询'">
            <input name="email" class="easyui-textbox" data-options="prompt:'输入邮箱查询'">
            <input name="mobile" class="easyui-textbox" data-options="prompt:'输入手机号码查询'">
            <input name="agent_code" class="easyui-textbox" data-options="prompt:'输入授权编码查询'">
            <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()"> 查询 </a>
        </fieldset>
    </form>
    <a class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="onTransfer(this)"> 转移团队 </a>
    <a class="datagrid-btn-separator"></a>
    <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onShowTop(this)"> 查看上级 </a>
    <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onShowNext(this)"> 查看下级 </a>
     <if condition="power('agent-reset')">
    <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onReset()"> 重新授权 </a>
    </if>
    <if condition="power('agent-remove')">
    <a class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="onRemove()"> 注销授权 </a>
    </if>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'user_no',width:80">编号</th>
        <th data-options="field:'agent_code',width:80">授权编码</th>
        <th data-options="field:'contact',width:60">联系人</th>
        <th data-options="field:'sex',width:30,formatter:function(value){
                return value == '1' ? '男' : '女';
            }">性别</th>
        <th data-options="field:'email',width:80">电子邮箱</th>
        <th data-options="field:'mobile',width:80">手机号码</th>
        <th data-options="field:'wecha_name',width:80">微信号</th>
        <th data-options="field:'grade_name',width:80">代理级别</th>
        <th data-options="field:'data_from_text',width:80">来源</th>
        <th data-options="field:'real_name',width:80">跟进人</th>
        <th data-options="field:'agent_type_text',width:80">状态</th>
        <th data-options="field:'create_time',width:80,sortable:true">申请时间</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    var grid = $('#grid');
    var currentId = 0;

    grid.datagrid({
        url: "{:U('alone')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            parent.openTab(null, '代理资料：' + row.user_no, http_build_query("{:U('show')}", {user_id: row.user_id}), true);
        }
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            queryParams: query
        });
    }

    function onTransfer(element) {
        blur(element);
        var row = grid.datagrid('getSelected');
        if(row) {
            var opts = {
                href: '{:U("transfer")}',
                title: '选择上级',
                width: 900,
                height: 500,
                handler: function(node){
                    if(!node) return false;
                    var parent_id = node.user_id;
                    var user_id = row.user_id;
                    if(parent_id == user_id) {
                        easyui.alert('请检查所选上级代理是否和待转移代理重合！');
                        return false;
                    }
                    easyui.confirm('请再次确认是否需要继续进行您的操作!',function(){
                        easyui.ajaxCall('{:U("transfer")}',{user_id:user_id,parent_id:parent_id},function(result){
                            if(result.status == 1){
                                grid.datagrid('reload');
                            }else{
                                easyui.alert(result.info);
                                return false;
                            }
                        });
                    });
                }
            };
            easyui.dialog(opts);
        }else{
            easyui.alert('请选择你要转移的代理商！');
        }
    }

    function onShowTop() {
        var row = grid.datagrid('getSelected');
        if(row) {
            easyui.dialog({
                width: 1000,
                height: 300,
                maximizable: false,
                buttons: false,
                href: http_build_query('{:U("parent_list")}', {user_id: row.user_id})
            });
        }else{
            easyui.alert('请选择要查看的代理商！');
        }
    }

    function onShowNext() {
        var row = grid.datagrid('getSelected');
        if(row) {
            easyui.dialog({
                width: 1000,
                height: 500,
                buttons: false,
                href: '{:U("children_list")}',
                data: row
            });
        }else{
            easyui.alert('请选择要查看的代理商！');
        }
    }
    
    function onReset() {
        var rows = grid.datagrid('getChecked');
        if(rows.length < 1) {
            rows = grid.datagrid('getSelections');
        }
        if(rows.length > 0) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("reset")}',{user_list:items},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        onSearch();
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }else {
            easyui.alert('请选择需要操作的选项');
        }

    }

    function onRemove() {
        var rows = grid.datagrid('getChecked');
        if(rows.length < 1) {
            rows = grid.datagrid('getSelections');
        }
        if(rows.length > 0) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("remove")}',{user_list:items},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        onSearch();
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }else {
            easyui.alert('请选择需要操作的选项');
        }

    }
</script>