<div id="toolbar">
    <div id="toolbarSearch" class="form-panel">
        <input name="user_no" class="easyui-textbox" data-options="prompt:'输入编号查询'">
        <input name="contact" class="easyui-textbox" data-options="prompt:'输入联系人查询'">
        <input name="email" class="easyui-textbox" data-options="prompt:'输入邮箱查询'">
        <input name="mobile" class="easyui-textbox" data-options="prompt:'输入手机号码查询'">
        <input name="agent_code" class="easyui-textbox" data-options="prompt:'输入授权编码查询'">
        <input type="hidden" name="parent_id">
        <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()"> 查询 </a>
    </div>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'user_no',width:80">编号</th>
        <th data-options="field:'agent_code',width:80">授权编码</th>
        <th data-options="field:'contact',width:60">联系人</th>
        <th data-options="field:'sex',width:30,formatter:function(value){
                return value == '1' ? '男' : '女';
            }">性别</th>
        <th data-options="field:'email',width:80">电子邮箱</th>
        <th data-options="field:'mobile',width:80">手机号码</th>
        <th data-options="field:'wecha_name',width:80">微信号</th>
        <th data-options="field:'data_from_text',width:80">来源</th>
        <th data-options="field:'create_time',width:80,sortable:true">申请时间</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    var grid = $('#grid');

    $(function(){
        grid.datagrid({
            fit:true,
            border:false,
            toolbar: '#toolbar',
            pagination: true,
            fitColumns: true,
            singleSelect:true,
            selectOnCheck:false,
            checkOnSelect: false,
            onDblClickRow: function(index, row){
                parent.openTab(null, '代理资料：' + row.user_no, http_build_query("{:U('show')}", {user_id: row.user_id}), true);
            }
        });
    });

    function setData(node) {
        $('[name="parent_id"]').val(node.user_id);
        onSearch();
    }

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            url:location.href,
            queryParams: query
        });
    }

</script>