<include file="Public:editor" />
<fieldset>
    <h2 class="legend">代理信息</h2>
    <form id="form" data-url="{:U('save')}" method="post" class="form-panel">
        <table width="100%" class="list-table thright" data-options="fit:true">
            <tr>
                <th width="120">联系人：</th>
                <td>
                    <input name="contact" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;">
                </td>
                <th width="120">性别:</th>
                <td>
                    <label><input type="radio" name="sex" value="1"> 男</label>
                    <label><input type="radio" name="sex" value="2"> 女</label>
                </td>
            </tr>
            <tr>
                <th>微信号:</th>
                <td><input name="wecha_name" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
                <th>电子邮箱:</th>
                <td><input name="email" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
            </tr>
            <tr>
                <th>手机号码:</th>
                <td><input name="mobile" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
                <th>身份证号:</th>
                <td><input name="id_number" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
            </tr>
            <tr>
                <th>代理级别:</th>
                <td>
                    <select class="easyui-combobox" id="grade_id" name="grade_id" style="width: 150px; height: 30px;">
                        <volist name="grade_lists" id="vo">
                            <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                        </volist>
                    </select>
                </td>
                <th>授权编码:</th>
                <td>
                    <input name="agent_code" class="easyui-textbox" style="width:300px; height: 30px;">
                    <notempty name="agent.agent_code">
                        <a class="easyui-linkbutton button-small" onclick="onShowCode()">查看二维码</a>
                    </notempty>
                </td>
            </tr>
            <tr>
                <th>手持证照：</th>
                <td>
                    <img width="100" height="100" id="imageBox"><br>
                    <a class="easyui-linkbutton button-small" id="showImage">查看大图</a>
                </td>
                <th>授权书：</th>
                <td>
                    <input class="easyui-textbox" id="warrant_thumb" name="warrant_thumb" data-options="prompt:'图片路径...',buttonText:'选择图片'" style="width:300px; height: 30px;">
                    <if condition="$agent.warrant_thumb neq ''">
                    <a class="easyui-linkbutton button-small" target="_blank" href="{$agent.warrant_thumb}?_={$Think.now|time=###}">下载授权书</a>
                    </if>
                </td>
            </tr>
            <tr>
                <th>汇款图片：</th>
                <td>
                    <img width="100" height="100" id="other_image"><br>
                    <a class="easyui-linkbutton button-small" id="show_other_image">查看大图</a>
                </td>
                <th>授权时间：</th>
                <td>
                	<input id="startdate"  class="easyui-datebox" name="startdate" data-options="prompt:'<if condition='$agent.startdate eq null'>{$arrtime.time|date='Y-m-d',###}</if>'" style="height: 30px;">  至
					<input id="enddate"  class="easyui-datebox" name="enddate"   data-options="prompt:'<if condition='$agent.enddate eq null'>{$arrtime.dq_time|date='Y-m-d',###}</if>'" style="height: 30px;">
			    </td>
            </tr>
            <tr>
                <th>地区:</th>
                <td>
                    <input id="province" name="province" value="{$agent.province}" style="width: 120px; height: 30px;">
                    <input id="city" name="city" value="{$agent.city}" style="width: 120px; height: 30px;">
                    <input id="district" name="district" value="{$agent.district}" style="width: 120px; height: 30px;">
                </td>
                <th>详细地址:</th>
                <td><input name="address" class="easyui-textbox" data-options="required:true" style="width:500px; height: 30px;"></td>
            </tr>
            <tr>
                <th>可购买商品类目:</th>
                <td>
                    <input name="buy_cat_id[]" id="buy_cat_id" class="easyui-combobox" method="get" data-options="url:'{:U('goodscategory/index')}', multiple:true, cascadeCheck: false" valueField="id" textField="text" style="width:120px; height: 30px;">
                </td>
                <th>信誉等级:</th>
                <td>
                    <select class="easyui-combobox" name="credit_id" style="width: 150px; height: 30px;">
                        <option value="0">未设置信誉等级...</option>
                        <volist name="credit_list" id="vo">
                            <option value="{$vo.id}">{$vo.text}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <th>自身优势:</th>
                <td colspan="3">
                    <input name="advantage" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px">
                </td>
            </tr>
        </table>
        <input type="hidden" name="save_type" value="update">
        <input type="hidden" name="user_id">
        <br>
        <a class="easyui-linkbutton button-small" onclick="onSave(this)">保存</a>
    </form>
</fieldset>
<notempty name="parent">
<fieldset>
    <h2 class="legend">上级代理</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th>编号:</th>
            <td colspan="3">
                {$parent.user_no}
            </td>
        </tr>
        <tr>
            <th width="120">联系人：</th>
            <td>
                {$parent.contact}
            </td>
            <th width="120">性别:</th>
            <td>
                <if condition="$parent.sex eq 1"> 男 <else/> 女 </if>
            </td>
        </tr>
        <tr>
            <th>微信号:</th>
            <td>{$parent.wecha_name}</td>
            <th>电子邮箱:</th>
            <td>{$parent.email}</td>
        </tr>
        <tr>
            <th>手机号码:</th>
            <td>{$parent.mobile}</td>
            <th>身份证号:</th>
            <td>{$parent.id_number}</td>
        </tr>
        <tr>
            <th>代理级别:</th>
            <td>
                {$parent.grade_name}
            </td>
            <th>授权编码:</th>
            <td>{$parent.agent_code}</td>
        </tr>
        <tr>
            <th>地区:</th>
            <td>
                {$parent.province_name} {$parent.city_name} {$parent.district_name}
            </td>
            <th>详细地址:</th>
            <td>{$parent.address}</td>
        </tr>
    </table>
</fieldset>
</notempty>
<fieldset>
    <h2 class="legend">日志</h2>
    <table width="100%" class="list-table thleft">
        <tr>
            <th width="20%">操作时间</th>
            <th width="15%">操作人</th>
            <th>备注</th>
        </tr>
        <volist id="vo" name="log">
            <tr>
                <td>{$vo.create_time}</td>
                <td>{$vo.master_name}</td>
                <td>{$vo.action_note}</td>
            </tr>
        </volist>
    </table>
</fieldset>
<script type="text/javascript">
    var data = {:json_encode($agent)};
    $(function(){
        $('#form').form('load', data);
        region($('#province'), $('#city'), $('#district'));
        $('#buy_cat_id').combobox('setValues',data.buy_cat_id.split(','));
        if(data.header_thumb) {
            $('#imageBox').attr('src', data.header_thumb);
        }
        if(data.other_thumb){
            $('#other_image').attr('src', data.other_thumb);
        }

        initUploadImage('#warrant_thumb');

        $('#showImage').click(function(){
            if(empty(data.header_thumb)) {
                easyui.alert('没有上传证照');
                return;
            }
            easyui.dialog({
                width: 700,
                height: 600,
                content: '<img src="'+data.header_thumb+'"/>'
            });
        });

        $('#show_other_image').click(function(){
            if(empty(data.other_thumb)) {
                easyui.alert('没有上传汇款图');
                return;
            }
            easyui.dialog({
                width: 700,
                height: 600,
                content: '<img src="'+data.other_thumb+'"/>'
            });
        });
    });

    var onSave = function(element){
        blur(element);
        if($('#grade_id').combobox('getValue') != data.grade_id) {
            if(!confirm('代理等级改变后，该代理的所有下级代理都将需要重新安排团队，确定要操作吗？')) return false;
        }
        easyui.submit('#form', function(result){
            try{
                easyui.alert(result.info,function(){
                    window.parent.reflashTab();
                });
            }catch (e){}
        })
    };

    function onShowCode() {
        easyui.dialog({
            width: 400,
            height: 500,
            href: http_build_query('{:U("show_qrcode")}', {user_id: data.user_id})
        });
    }
    
    
    
</script>