<include file="toolbar"/>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'user_no',width:80">编号</th>
        <th data-options="field:'contact',width:60">联系人</th>
        <th data-options="field:'sex',width:30,formatter:function(value){
                return value == '1' ? '男' : '女';
            }">性别</th>
        <th data-options="field:'agent_code',width:80">授权编码</th>
        <th data-options="field:'wecha_name',width:80">微信号</th>
        <th data-options="field:'email',width:80">电子邮箱</th>
        <th data-options="field:'mobile',width:80">手机号码</th>
        <th data-options="field:'grade_name',width:80">代理级别</th>
        <th data-options="field:'data_from_text',width:80">来源</th>
        <th data-options="field:'real_name',width:80">跟进人</th>
        <th data-options="field:'agent_type_text',width:80">状态</th>
        <th data-options="field:'create_time',width:80,sortable:true">申请时间</th>
    </tr>
    </thead>
</table>
<div id="footer">
    <if condition="power('agent-allocation')">
        <fieldset>
            <input class="easyui-textbox" data-options="buttonText:'查询',prompt:'输入接收资料帐号',onClickButton: onFindUser">
            <input class="easyui-combobox" id="user_name" style="width:200px;" data-options="valueField:'user_name', textField:'real_name'">
            <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onAllocation()"> 立即分配 </a>
        </fieldset>
    </if>
</div>

<script type="text/javascript">
    var grid = $('#grid');
    var currentId = 0;

    grid.datagrid({
        url: "{:U('')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        footer: "#footer",
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            parent.openTab(null, '代理资料：' + row.user_no, http_build_query("{:U('show')}", {user_id: row.user_id}), true);
        }
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            queryParams: query
        });
    }

    function onFindUser() {
        var value = $(this).val();
        $('#user_name').combobox({
            url: "{:U('master/combo')}",
            queryParams: {
                keyword: value
            }
        });
    }

    function onAllocation(element){
        blur(element);
        var user_name = $.trim($('#user_name').combobox('getValue'));
        if(empty(user_name)){
            easyui.alert('请选择接收人的账号');
            return false;
        }
        var rows = grid.datagrid('getChecked');
        if(rows) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("allocation")}',{user_list:items,user_name:user_name},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        grid.datagrid('reload');
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }
    }

    function onTransfer(element) {
        blur(element);
        var row = grid.datagrid('getSelected');
        if(row) {
            var opts = {
                href: '{:U("transfer")}',
                title: '选择上级',
                width: 900,
                height: 500,
                handler: function(node){
                    if(!node) return false;
                    var parent_id = node.user_id;
                    var user_id = row.user_id;
                    if(parent_id == user_id) {
                        easyui.alert('请检查所选上级代理是否和待转移代理重合！');
                        return false;
                    }
                    easyui.confirm('请再次确认是否需要继续进行您的操作!',function(){
                        easyui.ajaxCall('{:U("transfer")}',{user_id:user_id,parent_id:parent_id},function(result){
                            if(result.status == 1){
                                grid.datagrid('reload');
                            }else{
                                easyui.alert(result.info);
                                return false;
                            }
                        });
                    });
                }
            };
            easyui.dialog(opts);
        }else{
            easyui.alert('请选择你要转移的代理商！');
        }
    }

    function onReset() {
        var rows = grid.datagrid('getChecked');
        if(rows.length < 1) {
            rows = grid.datagrid('getSelections');
        }
        if(rows.length > 0) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("reset")}',{user_list:items},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        onSearch();
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }else {
            easyui.alert('请选择需要操作的选项');
        }

    }

    function onRemove() {
        var rows = grid.datagrid('getChecked');
        if(rows.length < 1) {
            rows = grid.datagrid('getSelections');
        }
        if(rows.length > 0) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("remove")}',{user_list:items},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        onSearch();
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }else {
            easyui.alert('请选择需要操作的选项');
        }

    }

    function onBuy(element) {
        blur(element);
        var rows = grid.datagrid('getChecked');
        if (rows.length>1) {
            easyui.alert('一次只能操作一个选项！');
            return false;
        }
        if (rows.length==0) {
            easyui.alert('请选择需要操作的选项！');
            return false;
        }
        parent.openTab(null, '后台下单 - ' + rows[0].contact, http_build_query("{:U('buy/index')}", {user_id: rows[0].user_id}), true);
    }

    function onModifyPass(element){
        blur(element);
        var row = grid.datagrid('getSelected');

        if(row) {
            var opts = {
                href: '{:U("modifyPass")}'+'?user_id='+row.user_id,
                title: '修改密码',
                width: 900,
                height: 500
            };
            easyui.dialog(opts);
        }else{
            easyui.alert('请选择你要操作的代理商！');
        }
    }
    function onModifyFollow(element) {
   	 blur(element);
        var row = grid.datagrid('getSelected');
        if(row) {
            var opts = {
                href: '{:U("modifyFollow")}'+'?user_id='+row.user_id,
                title: '修改跟进人',
                width: 900,
                height: 500,
                handler: function(result){
                    grid.datagrid('reload');
                }
            };
            easyui.dialog(opts);	
        }else{
            easyui.alert('请选择你要操作的代理商！');
        }
    }
</script>