<form id="masterForm" data-url="{:U('modifyFollow')}" method="post">
    <fieldset>
        <legend>帐号信息</legend>
        <table class="form-panel content-layout">
            <tr>
                <th>联系人：</th>
                <td>
                    {$member_info.contact}
                </td>   
            </tr>
            <tr>
                <th>当前跟进人：</th>
                <td>
                    {$member_info.real_name}
                </td>
            </tr>
            <tr>
                <th>修改跟进人：</th>
                <td>
                    <select name="follow_master" class="easyui-combobox" style="width:200px;">
                    	<option value=""></option>
                    	<volist name="follow_master" id="vo">
                    		<option value="{$vo.user_id}" <if condition="$vo.user_id eq $member_info[m_user]">selected</if>>{$vo.real_name}</option>
                    	</volist>
                    </select>
                </td>
                <td>
                	 <input type="hidden" name="user_id" value="{$member_info.user_id}">
                	 <input type="hidden" name="real_name" value="{$member_info.real_name}">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
