<form id="masterForm" data-url="{:U('modifyPass')}" method="post">
    <fieldset>
        <legend>帐号信息</legend>
        <table class="form-panel content-layout">
            <tr>
                <th>联系人：</th>
                <td>
                    {$member_info.contact}
                </td>
                <th>手机号码：</th>
                <td>
                    {$member_info.mobile}
                </td>
            </tr>
            <tr>
                <th>登录密码：</th>
                <td>
                    <input type="password" name="password" class="easyui-textbox">
                </td>
                <th>确认密码：</th>
                <td>
                    <input type="password" name="confirm_password" class="easyui-textbox">
                    <input type="hidden" name="user_id" value="{$member_info.user_id}">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
