<div id="toolbar">
    <form id="toolbarSearch" action="javascript:;">
        <fieldset>
            <h2 class="legend">查询</h2>
            <select class="easyui-combobox" name="grade_id" style="width: 150px;">
                <option value="0">选择等级查询</option>
                <volist name="grade_lists" id="vo">
                    <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                </volist>
            </select>
            <select class="easyui-combobox" name="follow_master" style="width: 150px;">
                <option value="0">选择分配查询</option>
                <option value="1">未分配</option>
                <option value="2">已分配</option>
            </select>
            <input name="id_number" class="easyui-textbox" data-options="prompt:'输入身份证查询'">
            <input name="user_no" class="easyui-textbox" data-options="prompt:'输入编号查询'">
            <input name="contact" class="easyui-textbox" data-options="prompt:'输入联系人查询'">
            <input name="email" class="easyui-textbox" data-options="prompt:'输入邮箱查询'">
            <input name="mobile" class="easyui-textbox" data-options="prompt:'输入手机号码查询'">
            <input name="agent_code" class="easyui-textbox" data-options="prompt:'输入授权编码查询'">
            <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()">查询</a>
        </fieldset>
        <if condition="power('agent-add')">
            <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="onAdd()">添加意向</a>
        </if>
        <if condition="power('agent-modifyfollow')">
            <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onModifyFollow(this)">修改跟进人</a>
        </if>
    </form>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'user_no',width:80">编号</th>
        <th data-options="field:'contact',width:60">联系人</th>
        <th data-options="field:'wecha_name',width:80">微信号</th>
        <th data-options="field:'sex',width:30,formatter:function(value){
                return value == '1' ? '男' : '女';
            }">性别</th>
        <th data-options="field:'email',width:80">电子邮箱</th>
        <th data-options="field:'mobile',width:80">手机号码</th>
        <th data-options="field:'grade_name',width:80">代理级别</th>
        <th data-options="field:'data_from_text',width:80">来源</th>
        <th data-options="field:'real_name',width:80">跟进人</th>
        <th data-options="field:'create_time',width:80,sortable:true">申请时间</th>
    </tr>
    </thead>
</table>
<div id="footer">
    <if condition="power('agent-allocation')">
        <fieldset>
            <input class="easyui-textbox" data-options="buttonText:'查询',prompt:'输入接收资料帐号',onClickButton: onFindUser">
            <input class="easyui-combobox" id="user_name" style="width:200px;" data-options="valueField:'user_name', textField:'real_name'">
            <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onAllocation()"> 立即分配 </a>
        </fieldset>
    </if>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var currentId = 0;

    grid.datagrid({
        url: "{:U('newlist')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        footer: "#footer",
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false,
        onDblClickRow: function(index, row){
            parent.openTab(null, '意向转化：' + row.user_no, http_build_query("{:U('turn')}", {user_id: row.user_id}), true);
        }
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            queryParams: query
        });
    }

    function onFindUser() {
        var value = $(this).val();
        $('#user_name').combobox({
            url: "{:U('master/combo')}",
            queryParams: {
                keyword: value
            }
        });
    }

    function onAdd() {
        var opts = {
            href: '{:U("add")}',
            title: '添加意向',
            width: 600,
            height: 500,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }
    
    function onModifyFollow(element) {
    	 blur(element);
         var row = grid.datagrid('getSelected');
         if(row) {
             var opts = {
                 href: '{:U("modifyFollow")}'+'?user_id='+row.user_id,
                 title: '修改跟进人',
                 width: 900,
                 height: 500,
                 handler: function(result){
                     grid.datagrid('reload');
                 }
             };
             easyui.dialog(opts);	
         }else{
             easyui.alert('请选择你要操作的代理商！');
         }
    }

    function onAllocation(element){
        blur(element);
        var user_name = $.trim($('#user_name').combobox('getValue'));
        if(empty(user_name)){
            easyui.alert('请选择接收人的账号');
            return false;
        }
        var rows = grid.datagrid('getChecked');
        if(rows) {
            var items = [];
            for(var i = 0; i < rows.length; i++){
                items.push(rows[i].user_id);
            }
            items = items.join(',');
            easyui.confirm('请再次确认是否需要继续进行您的操作', function () {
                easyui.ajaxCall('{:U("allocation")}',{user_list:items,user_name:user_name},function(result){
                    if(result.status == 1){
                        easyui.alert(result.info);
                        grid.datagrid('reload');
                    }else{
                        easyui.alert(result.info);
                        return false;
                    }
                });
            })
        }
    }

</script>