<table style="margin: 50px auto;">
    <tr>
        <volist name="grade_list" id="vo">
            <td style="border:1px dashed #D4D4D4; background: #f6f5f5;">
                <p style="color: red; border-bottom: 1px dashed #D4D4D4; padding: 5px 10px;">{$vo.grade_name}</p>
                <p style="padding: 10px; line-height: 25px; font-size: 12px;">
                    <a href="javascript:;" onclick="onOpen('{$vo.agent.user_id}', '{$vo.agent.user_no}')">{$vo.agent.user_no}</a><br>
                    联系人：{$vo.agent.contact}<br>
                    授权码：{$vo.agent.agent_code}
                </p>
            </td>
            <td valign="center" align="center" width="50" style="font-size: 36px;">&rarr;</td>
        </volist>
        <td>招商总监</td>
    </tr>
</table>
<script type="text/javascript">
    function onOpen(user_id, user_no) {
        parent.openTab(null, '代理资料：' + user_no, http_build_query("{:U('show')}", {user_id: user_id}), true);
    }
</script>