<include file="Public:editor" />
<fieldset>
    <h2 class="legend">代理信息</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th width="120">联系人：</th>
            <td>
                {$agent.contact}
            </td>
            <th width="120">性别:</th>
            <td>
                <if condition="$agent.sex eq 1"> 男 <else/> 女 </if>
            </td>
        </tr>
        <tr>
            <th>微信号:</th>
            <td>{$agent.wecha_name}</td>
            <th>电子邮箱:</th>
            <td>{$agent.email}</td>
        </tr>
        <tr>
            <th>手机号码:</th>
            <td>{$agent.mobile}</td>
            <th>身份证号:</th>
            <td>{$agent.id_number}</td>
        </tr>
        <tr>
            <th>代理级别:</th>
            <td>
                {$agent.grade_name}
            </td>
            <th>授权编码:</th>
            <td>
                {$agent.agent_code}
                <notempty name="agent.agent_code">
                    <a class="easyui-linkbutton button-small" onclick="onShowCode()">查看二维码</a>
                </notempty>
            </td>
        </tr>
        <tr>
            <th>手持证照：</th>
            <td>
                <img src="{$agent.header_thumb}" width="100" height="100">
                <a class="easyui-linkbutton button-small" onclick="onShow('{$agent.header_thumb}')">查看大图</a>
            </td>
            <th>授权书：</th>
            <td>
                <img src="{$agent.warrant_thumb}" width="100" height="100">
                <a class="easyui-linkbutton button-small" onclick="onShow('{$agent.warrant_thumb}')">查看大图</a>
            </td>
            <th>授权时间：</th>
             <td>
                <img src="{$agent.warrant_thumb}" width="100" height="100">
                <a class="easyui-linkbutton button-small" onclick="onShow('{$agent.warrant_thumb}')">查看大图</a>
            </td>
        </tr>
        <tr>
            <th>地区:</th>
            <td>
                {$agent.province_name} {$agent.city_name} {$agent.district_name}
            </td>
            <th>详细地址:</th>
            <td>{$agent.address}</td>
        </tr>
        <tr>
            <th>自身优势:</th>
            <td colspan="3">
                {$agent.advantage}
            </td>
        </tr>
    </table>
</fieldset>
<notempty name="parent">
<fieldset>
    <h2 class="legend">上级代理</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th>编号:</th>
            <td colspan="3">
                {$parent.user_no}
            </td>
        </tr>
        <tr>
            <th width="120">联系人：</th>
            <td>
                {$parent.contact}
            </td>
            <th width="120">性别:</th>
            <td>
                <if condition="$parent.sex eq 1"> 男 <else/> 女 </if>
            </td>
        </tr>
        <tr>
            <th>微信号:</th>
            <td>{$parent.wecha_name}</td>
            <th>电子邮箱:</th>
            <td>{$parent.email}</td>
        </tr>
        <tr>
            <th>手机号码:</th>
            <td>{$parent.mobile}</td>
            <th>身份证号:</th>
            <td>{$parent.id_number}</td>
        </tr>
        <tr>
            <th>代理级别:</th>
            <td>
                {$parent.grade_name}
            </td>
            <th>授权编码:</th>
            <td>{$parent.agent_code}</td>
        </tr>
        <tr>
            <th>地区:</th>
            <td>
                {$parent.province_name} {$parent.city_name} {$parent.district_name}
            </td>
            <th>详细地址:</th>
            <td>{$parent.address}</td>
        </tr>
    </table>
</fieldset>
</notempty>
<fieldset>
    <h2 class="legend">日志</h2>
    <table width="100%" class="list-table thleft">
        <tr>
            <th width="20%">操作时间</th>
            <th width="15%">操作人</th>
            <th>备注</th>
        </tr>
        <volist id="vo" name="log">
            <tr>
                <td>{$vo.create_time}</td>
                <td>{$vo.master_name}</td>
                <td>{$vo.action_note}</td>
            </tr>
        </volist>
    </table>
</fieldset>
<script type="text/javascript">
    function onShow(src) {
        easyui.dialog({
            width: 700,
            height: 600,
            content: '<img src="'+src+'"/>'
        });
    }

    function onShowCode() {
        easyui.dialog({
            width: 400,
            height: 500,
            href: http_build_query('{:U("show_qrcode")}', {user_id: data.user_id})
        });
    }
</script>