<div id="toolbar">
    <form id="toolbarSearch" action="javascript:;">
        <fieldset>
            <h2 class="legend">查询</h2>
            <select class="easyui-combobox" name="grade_id" style="width: 150px;">
                <option value="0">选择等级查询</option>
                <volist name="grade_lists" id="vo">
                    <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                </volist>
            </select>
            <input name="id_number" class="easyui-textbox" data-options="prompt:'输入身份证查询'">
            <input name="user_no" class="easyui-textbox" data-options="prompt:'输入编号查询'">
            <input name="contact" class="easyui-textbox" data-options="prompt:'输入联系人查询'">
            <input name="wecha_name" class="easyui-textbox" data-options="prompt:'输入微信号查询'">
            <input name="email" class="easyui-textbox" data-options="prompt:'输入邮箱查询'">
            <input name="mobile" class="easyui-textbox" data-options="prompt:'输入手机号码查询'">
            <input name="agent_code" class="easyui-textbox" data-options="prompt:'输入授权编码查询'">
            <if condition="power('agent-*')">
                <select class="easyui-combobox" name="follow_master" style="width: 150px;">
                    <option value="0">选择分配查询</option>
                    <option value="1">未分配</option>
                    <option value="2">已分配</option>
                </select>
            </if>
            <select class="easyui-combobox" name="agent_type" style="width: 150px;">
                <option value="-1">选择状态查询</option>
                <option value="1">已授权</option>
                <option value="3">已注销</option>
            </select>
            <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()"> 查询 </a>
            <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="onBuy()">后台下单</a>-->
        </fieldset>
    </form>
    <if condition="power('agent-transfer')">
    <a class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="onTransfer(this)"> 转移团队 </a>
    <a class="datagrid-btn-separator"></a>
    </if>
    <if condition="power('agent-reset')">
    <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onReset()"> 重新授权 </a>
    </if>
    <if condition="power('agent-remove')">
    <a class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="onRemove()"> 注销授权 </a>
    </if>
    <if condition="power('agent-modifypass')">
    <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onModifyPass(this)"> 修改密码 </a>
    </if>
     <if condition="power('agent-modifyfollow')">
          <a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="onModifyFollow(this)">修改跟进人</a>
     </if>
</div>