<div id="toolbar">
    <div id="toolbarSearch" action="javascript:;" class="form-panel">
        <input name="user_no" class="easyui-textbox" data-options="prompt:'输入编号查询'">
        <input name="contact" class="easyui-textbox" data-options="prompt:'输入联系人查询'">
        <input name="mobile" class="easyui-textbox" data-options="prompt:'输入手机号码查询'">
        <input name="agent_code" class="easyui-textbox" data-options="prompt:'输入授权编码查询'">
        <a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="onSearch()"> 查询 </a>
    </div>
</div>
<table id="grid">
    <thead>
    <tr>
        <th data-options="field:'user_no',width:80">编号</th>
        <th data-options="field:'contact',width:60">联系人</th>
        <th data-options="field:'agent_code',width:80">授权编码</th>
        <th data-options="field:'grade_name',width:80">代理级别</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var grid = $('#grid');
    grid.datagrid({
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        selectOnCheck:false,
        checkOnSelect: false
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        grid.datagrid({
            url: "{$search_url}",
            queryParams: query
        });
    }

    function onValidate() {
        var node = grid.datagrid('getSelected');
        if(!node) {
            easyui.alert('请选择代理');
            return false;
        }
        return true;
    }

    function onReturn() {
        var node = grid.datagrid('getSelected');
        return node;
    }
</script>