<include file="Public:editor" />
<fieldset>
    <h2 class="legend">代理信息</h2>
    <form id="form" data-url="{:U('turn')}" method="post" class="form-panel">
        <table width="100%" class="list-table thright" data-options="fit:true">
            <tr>
                <th width="120">联系人：</th>
                <td>
                    <input name="contact" class="easyui-textbox" data-options="required:true" size="45">
                </td>
                <th width="120">性别:</th>
                <td>
                    <label><input type="radio" name="sex" value="1"> 男</label>
                    <label><input type="radio" name="sex" value="2"> 女</label>
                </td>
            </tr>
            <tr>
                <th>微信号:</th>
                <td><input name="wecha_name" class="easyui-textbox" data-options="required:true" size="45"></td>
                <th>电子邮箱:</th>
                <td><input name="email" class="easyui-textbox" data-options="required:true" size="45"></td>
            </tr>
            <tr>
                <th>手机号码:</th>
                <td><input name="mobile" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
                <th>身份证号:</th>
                <td><input name="id_number" class="easyui-textbox" data-options="required:true" style="width:300px; height: 30px;"></td>
            </tr>
            <tr>
                <th>代理级别:</th>
                <td>
                    <select class="easyui-combobox" name="grade_id" style="width: 150px; height: 30px;">
                        <volist name="grade_lists" id="vo">
                            <option value="{$vo.grade_id}">{$vo.grade_name}</option>
                        </volist>
                    </select>
                </td>
                <th>授权编码:</th>
                <td><input name="agent_code" class="easyui-textbox" style="width:300px; height: 30px;"></td>
            </tr>
            <tr>
                <th>手持证照：</th>
                <td>
                    <input class="easyui-textbox" id="header_thumb" name="header_thumb" data-options="prompt:'图片路径...',buttonText:'选择图片'" style="width:300px; height: 30px;">
                    <a class="easyui-linkbutton button-small" onclick="onShow('#header_thumb')">查看大图</a>
                </td>
                <th>授权书：</th>
                <td>
                    <input class="easyui-textbox" id="warrant_thumb" name="warrant_thumb" data-options="prompt:'图片路径...',buttonText:'选择图片'" style="width:300px; height: 30px;">
                    <a class="easyui-linkbutton button-small" onclick="onShow('#warrant_thumb')">查看大图</a>
                </td>
                </td>
            </tr>
            <tr>
                <th>汇款图片：</th>
                <td>
                    <input class="easyui-textbox" id="other_thumb" name="other_thumb" data-options="prompt:'图片路径...',buttonText:'选择图片'" style="width:300px; height: 30px;">
                    <a class="easyui-linkbutton button-small" onclick="onShow('#other_thumb')">查看大图</a>
                </td>
                <th></th>
                <td>
                </td>
            </tr>
            <tr>
                <th>地区:</th>
                <td>
                    <input id="province" name="province" value="{$agent.province}" style="width: 120px; height: 30px;">
                    <input id="city" name="city" value="{$agent.city}" style="width: 120px; height: 30px;">
                    <input id="district" name="district" value="{$agent.district}" style="width: 120px; height: 30px;">
                </td>
                <th>可购买商品类目:</th>
                <td>
                    <input name="buy_cat_id[]" id="buy_cat_id" class="easyui-combobox" method="get" data-options="url:'{:U('goodscategory/index')}', multiple:true, cascadeCheck: false" valueField="id" textField="text" style="width:120px; height: 30px;">
                </td>
            </tr>
            <tr>
                <th>详细地址:</th>
                <td colspan="3"><input name="address" class="easyui-textbox" data-options="required:true" style="width:500px; height: 30px;"></td>
            </tr>
            <tr>
                <th>自身优势:</th>
                <td colspan="3">
                    <input name="advantage" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px">
                </td>
            </tr>
        </table>
        <input type="hidden" name="save_type" value="update">
        <input type="hidden" name="user_id">
        <br>
        <a class="easyui-linkbutton button-small" onclick="onSave(this)">保存</a>
    </form>
</fieldset>
<script type="text/javascript">
    var data = {:json_encode($agent)};
    $(function(){
        $('#form').form('load', data);
        region($('#province'), $('#city'), $('#district'));
        $('#buy_cat_id').combobox('setValues',data.buy_cat_id.split(','));
        initUploadImage('#warrant_thumb');
        initUploadImage('#header_thumb');
        initUploadImage('#other_thumb');
    });

    var onSave = function(element){
        blur(element);
        easyui.confirm('保存后该代理资料将默认被授权，请再次确定！', function(){
            easyui.submit('#form', function(result){
                try{
                    easyui.alert(result.info);
                    if(result.status == 1)
                        parent.closeTab();
                }catch (e){}
            })
        });
    };

    function onShow(obj) {
        var src = $(obj).textbox('getValue');
        if(!src) return false;
        easyui.dialog({
            width: 700,
            height: 600,
            content: '<img src="'+src+'"/>'
        });
    }
</script>