@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul,a{margin:0;padding:0}
body{font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif; color:#000;}
body{background: rgb(213, 213, 214); background-color: #e3e3e3;}
fieldset,img{border:0}ol,ul{list-style:none}address,em{font-style:normal}a{color:#000;text-decoration:none}
table{border-collapse:collapse;}
img{vertical-align:top;}
.w100 img{ width:100%;}

.clf:before, .clf:after {content:"";display:table;}
.clf:after{clear:both;}
.clf{*zoom:1;}
.fl{float:left; display:inline-block;}
.fr{float:right; display:inline-block;}

.main{width:100%;min-width:320px;margin:0 auto;max-width:640px;font-size:14px;background:white;}
@media screen and (min-width:320px){.main{font-size:16px;}.fnav{font-size:16px;}}
@media screen and (min-width:400px){.main{font-size:24px;}.fnav{font-size:24px;}}
@media screen and (min-width:480px){.main{font-size:26px;}.fnav{font-size:26px;}}
@media screen and (min-width:560px){.main{font-size:27px;}.fnav{font-size:27px;}}
@media screen and (min-width:640px){.main{font-size:28px;}.fnav{font-size:28px;}}

#lazy_img img.lazy{background:url(../images/common/load_bg.gif) 50% 50% #fff no-repeat;}

/*底部浮动导航*/
.fnav_blank{ width:100%; background-color:transparent;height:0.5em;}
.fnav_box{ position:fixed;  bottom:0; left:0; width:100%; z-index:100}
.fnav{  width:100%; min-width:320px; max-width:640px; margin:0 auto; background:#fff; overflow:hidden; text-align:center}
.fnav a{  display:inline; float:left; vertical-align:top; height:3.5em; padding:0.5em 0;  font-size:.65em; color:#838383; width:16%;}
.fnav a img{  width:30%; max-width:44px; margin-bottom:0.2em}

/*顶部logo*/
.head_box{ background-color:#04071d; text-align:center; position:relative; /*padding:.2em 0;*/ z-index:10;}
.head_box img{ width: 25%; max-width:140px; position:relative; z-index:2;}
.head_box em{ position:absolute; bottom:-.3em; width:100%; height:.6em; left:0;background-color:#04071d; border-radius:1000%;}
/*顶部返回导航*/
.tnav{padding:.538em 0; height:1.278em; line-height:1.278em; font-size:1.286em; text-align:center; color:#3f3f3f; background: url(../images/common/bg_nav.jpg) 100% 100%; border-bottom:1px solid #bababa;}
.tnav .t_back{width:4%; max-width:25px; padding-left:1.056em;}
.tnav img{width:100%;}
.tnav span{ padding-right:1.056em;}


/*错误浮框*/
.warning_box{ z-index:102; text-align: center; width:15em; position: fixed; top: 50%; margin-top: -3.3em; left: 50%; margin-left:-7.5em; padding: 1em 0; background: #fff; border-radius: 8px; display: none;}
.warning_box p{line-height: 1.8em; }
.warning_box a{display: block; margin-top: -1em;}
.transparency_bg{width: 100%; height: 100%; z-index: 101; background:#000; filter: alpha(opacity=20); opacity: 0.2; position: absolute;top: 0; left: 0; display: none;}

/*20160511门店信息*/
.store_com{overflow: hidden;background-image:url(../images/index/pic_11.jpg);background-size:contain;background-repeat: no-repeat;background-color:#0b0411;}
.stores{padding:1em 1em 0;}
.stores ul{overflow: hidden;}
.stores ul li{width:50%;float: left;margin-bottom: 1em;}
.stores ul li:nth-child(2),.stores ul li:nth-child(4){text-align: right;}
.stores ul li a{display: block;}
.stores ul li a img{width:92%;max-width:266px;}
.shops{padding:0 0.8em;overflow: hidden;}
.shops .yell{color:#d1a954;overflow: hidden;}
.shops .h_t{padding-top: 0.5em;}
.shops .tits{border-bottom: 1px dotted #d0d0d0;padding-bottom: 0.4em;}
.shops .tits h3{display: table-cell;width:100%;font-size: 1em;}
.shops .tits h3:before{content: "";display: inline-block;width:1em;height:1em;background-image: url(../images/common/home.png);background-size:1em;background-repeat: no-repeat;vertical-align: middle;}
.shops .tits a.more{display: table-cell;width:100%;white-space:nowrap;color:#fff;}
.shops .tits a.more i{color:#d6ad56;font-style: normal;}
.shops ul{overflow: hidden;padding:0.5em 0;}
.shops ul li{color:#fff;float: left;width:25%;font-size: 0.6em;line-height: 1.6em;}
.shops ul li:nth-child(3),.shops ul li:nth-child(7),.shops ul li:nth-child(11),.shops ul li:nth-child(15),.shops ul li:nth-child(19){padding-left: 1em;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.shops ul li:nth-child(4),.shops ul li:nth-child(8),.shops ul li:nth-child(12),.shops ul li:nth-child(16),.shops ul li:nth-child(20){text-align: right;}