.pink{ color: #f35176}
.gray{color: #7f7f7f;}
.red{ color: #e91a1a;}
.yellow{color: #fff600;}
.pos_r{position: relative;}
#fnav5{background: #f0f0f0;}
/*扫描弹出页面（领取积分成功）*/
.scan_01,.scan_03{ background: #333333;}
.scan_01 img{width: 85%; margin:0 auto; display: block; margin-top: 3em;}

/**/
.scan_02{ padding-bottom: 3em;}
.scan_02 .header{ background: #d49744; padding: .5em 0; text-align: center; color: #fff;}
.scan_02 .header p{ font-size: .8em; padding-top: .5em;}
.scan_02 .nav{ padding: .5em 3.5%; background: #f4f4f6;}
.scan_02 .nav a{width: 48%; float: left; color:#d49744;text-align: center; padding: 0.8%; border: 1px #d49744 solid; margin-left:-1px;}
.scan_02 .nav a:nth-child(1){ border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.scan_02 .nav a:nth-child(3){ border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.scan_02 .nav a.on{color: #fff; background: #d49744;}
.scan_02 .title{ line-height: 1.8em; background: #f4f4f6; padding: 0 1em; border-top: 1px #ccc solid}
.list_tab li {border-bottom: 1px solid #ccc; padding: 5px 10px;}
.list_tab li img {border: 1px solid #ccc;float: left;margin: 0.5em;width: 2.5em; border-radius: 4px;}
.list_tab p {font-size: 0.85em; line-height: 25px;}
.list_tab p.name {padding-top: 0.4em; }
.list_tab span { float: right; margin-right: .4em;}

.scan_03 .pro{width:15em; margin: 0 auto; margin-top: 3em;}
.scan_03 .pro .pro_img{height: 10em;left: 2.5em;position: absolute;top: 0.5em;width: 10em;}
.scan_03 .infor{width: 18.5em; margin:0 auto; position: relative; margin-top: 1em;}
.scan_03 .infor .infor_text{position: absolute; left: 0; top: 1.5em; width: 100%}
.scan_03 .infor .infor_text p{ text-align: center; color: #fff;}
.scan_03 .btn{ display: block; cursor: pointer; width: 18.5em; margin:0 auto; margin-top: 2em;}

/*微商（错误弹框）*/
.false_tip{background: #fff;}
.false_tip a.back{margin-left: 1em; line-height: 2.5em; color: #6b6b6b; border-bottom: 1px #ccc solid;}
.false_tip .success{ width: 2.7em; height: 2.7em; border-radius: 2em; background: #d49744; margin:0 auto; padding: .3em;}
.false_tip  p.first{text-align: center; line-height: 3em; padding: 0; }
.false_tip  p{padding-left: 2em;}
.false_tip p span{ color: #6b6b6b;}
.false_tip .false_text{ text-align: center; color: #6b6b6b; padding: 0; line-height: 2em;}
.false_tip .false{ width:1.5em; height: 1.5em; border-radius: 2em; background: #b8b8b8; margin:0 auto; padding: .5em;}
/*.false_tip .false img{width: 80%;}*/