.f-left {float:left; }
.f-right {float:right; }
.clearfix:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
.clearfix { clear: both; *zoom: 1;float:none; }

.BG {background:#f0f0f0; }
.BG2 {background:url(../images/loginBg.jpg); }
.btnOut {padding:0 10px; } 
.btnOut a {line-height:41px;text-align:center; }
.btn {background:#02a7e3;color:#fff;border-radius:5px;height:41px;width:100%; border:none;display:block;}
.btn2 {background:#76b117; }
.mt10 {margin-top:10px; }
.mt15 {margin-top:15px; }
.font12 {font-size:12px; }
.font14 {font-size:14px; }
/*标题titleBox*/
.titleBox { background:#02a7e3;padding:10px;text-align:center;color:#fff;font-size:19px;line-height:22px;}
.titleBox img {width:25px;display:block; }
.titleBox a {font-size:14px;color:#fff; }

/*首页index*/
.userTopRemind {background:#fa6567;color:#fff;padding:8px; }
.userTopRemindL {padding:6px 0; }
.userTopRemindL img{vertical-align:middle;width:14px; }
.userTopRemindR {color:#fff;display:block;background:#58cd2b;border-radius:5px;padding:8px 10px; font-size:13px;}
.userTopRemindR:active {background:#47a723; }
.userTopRemindR:visited {color:#fff; }

.userTop {background:url(../images/userBg.jpg) no-repeat;background-size:cover; }
.userTopCon {position:relative;padding:20px 17px;min-height:80px; }
.userTopConL {position:absolute; }
.userTopConL img {width:80px;height:80px;border-radius:50%; }
.userTopConR {padding-left:97px;color:#fff;line-height:18px; }
.userTopConRName {padding:5px 0;}
.userTopConRName em{padding:2px 5px ;display:inline-block;background:#fffe34;color:#2ba7dd;font-size:12px;}
.userTopConR .font12 {color:#d2edf7;font-size:14px; }
.userTopConR a {color:#fff;font-size:14px; padding:5px 10px;display:inline-block;color:#fffd34;border:solid 1px #fffd34;border-radius:20px;margin-top:5px;}
.userTopConR .font16 a {font-size:16px; margin-top:5px;}
.userTopMoney {border-top:solid 1px #7dd0e5; }
.userTopMoneyA dd {float:left;text-align:center;width:49%;border-right:solid 1px #7dd0e5;padding:10px 0;color:#fff; }
.userTopMoneyA dd:last-child {border:none; }
.userTopMoneyTitle {font-size:12px;color:#bee6f2; }
.userTopMoneyCon {font-size:24px; }

.userTopMoneyB dd {float:left;text-align:center;border-right:solid 1px #7dd0e5;padding:10px 0;color:#fff; }
.userTopMoneyB dd:last-child {border:none; }
.userTopMoneyB dd a {display:block;padding:10px 0; }
.userTopMoneyB dd img {width:25px; }
.userTopMoneyB .userTopMoneyBCon1 {width:35%;overflow:hidden; }
.userTopMoneyB .userTopMoneyBCon2 {width:14.5%; }


.userBtm {padding:10px 5px; }
.userBtm dd {width:25%;float:left; }
.userBtm dd a {display:block; padding:15px 0;margin:0 5px 10px;text-align:center;color:#fff;font-size:12px;}
.userBtm dd img {width:35px; margin-bottom:5px;}
.userBtm .userBtmCon1 {background:#92cf68; }
.userBtm .userBtmCon2 {background:#58b5e1; }
.userBtm .userBtmCon3 {background:#fcc954; }
.userBtm .userBtmCon4 {background:#fa6567; }
.userBtm .userBtmCon5 {background:#f7774a;position:relative; }
.userBtm .userBtmCon6 {background:#c066a6; }
.userBtm .userBtmCon7 {background:#66c0b2; }
.userBtm .userBtmCon8 {background:#666cc0; }
.userBtm .userBtmCon9 {background:#e1922b; }
.userBtmConT {display:block;width:15px;height:20px;line-height:15px;position:absolute;top:0;right:0;text-align:right;padding-right:5px;background:url(../images/userBtmT.png) top right  no-repeat;background-size:cover;color:#f7774a; }

.btnBlink {
background:#02a7e3;
color:#fff;
animation:myfirst 0.5s  0.8s infinite alternate;
/* Firefox: */
-moz-animation:myfirst 0.5s  0.8s infinite alternate;
/* Safari and Chrome: */
-webkit-animation:myfirst 0.5s  0.8s infinite alternate;
/* Opera: */
-o-animation:myfirst 0.5s  0.8s infinite alternate;
}
@keyframes myfirst
{
0%   {background:#02a7e3;color:#fff;}
100% {background:#037eab;color:#ddd;}
}
@-moz-keyframes myfirst /* Firefox */
{
0%   {background:#02a7e3;color:#fff;}
100% {background:#037eab;color:#ddd;}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:#02a7e3;color:#fff;}
100% {background:#037eab;color:#ddd;}
}
@-o-keyframes myfirst /* opera */
{
0%   {background:#02a7e3;color:#fff;}
100% {background:#037eab;color:#ddd;}
}

.btnBlinkClick {display:block;width:30px;margin:-20px 30% 0 auto; }

.userGroupRemind {padding:8px 10px 8px 31px; position:relative;background:#fff;border-bottom:solid 1px #dbd9da;font-size:13px;line-height:18px;}
.userGroupRemind img{width:20px;position:absolute;position:absolute;top:10px;left:10px; }
.userGroupRemind span {color:#e92f2f; }
.userGroupRemind a {color:#000000;word-break:break-all;word-wrap:break-word; }

/*财务明细financeList*/
.financeNav span{padding:15px 0;border-bottom:solid 1px #d2d2d2;color:#333333;display:block;float:left;width:25%;text-align:center; }
.financeNav .financeNavNow {color:#e12828;border-color:#e12828; }
.financeList .financeMonth {padding:5px 10px; }
.financeList ul{background:#fff; }
.financeList ul li {padding-left:10px; }
.financeList ul li:active {background:#f0f0f0; }
.financeList li a {border-bottom:solid 1px #d9d9d9;display:block;padding:15px 10px 15px 0;color:#333; }
.financeList .financeListLast a {border:none; }/*最后去底边框*/
.financeTime {color:#999999;font-size:12px;margin-top:5px; }
.financeNumber {text-align:right; }
.financeTitle {width:65%;}
.financeTitle p {overflow:hidden; text-overflow:ellipsis;white-space:nowrap; }
.financeStepA, .financeStepB, .financeStepC {font-size:12px;margin-top:5px; }
.financeNumber  .financeStepA {color:#08bb08; }
.financeNumber  .financeStepB {color:#f26f21; }
.financeNumber  .financeStepC {color:#ed4949; }
.financeNumber .financeStepC img {width:15px;vertical-align:middle; }

.financeList1,.financeList2,.financeList3 {display:none; }

/*账单详情financeDetialA*/
.listDetial {background:#fff; }
.listDetial dd {border-bottom:solid 1px #ededed;padding:15px 10px;margin:0; }
.listDetial dd:last-child {border:none; }
.listDetial .listDetialL {  }
.listDetial .listDetialL p { height:20px;overflow:hidden;text-align:justify; width:75px; color:#999999;margin-right:10px;font-size:13px;}
.listDetial .listDetialL span {display: inline-block /* Opera */; padding-left: 100%;   }
.listDetialR {font-size:13px; }
.listDetialNumber {font-size:12px;padding-top:15px;color:#999999; }
.listDetialNumber span{font-size:50px;color:#08bb08; }
.listDetialNumberB span{font-size:50px; color:#ed4949;}
.listDetialNumberBtm {text-align:right;font-size:13px; }

/*去提现getMoney*/
.getMoneyBox {background:#fff;padding:25px 10px;position:relative; }
.getMoneyBoxL {position:absolute; }
.getMoneyBoxR {padding-left:130px; color:#9b9b9b;font-size:14px;}
.getMoneyBoxR  .getMoneyBoxROpen {text-align:right; }
.getMoneyBoxROpen img {width:7px;vertical-align:middle; }
.getMoneyBoxROpen a {color:#9b9b9b; }
.getMoneyRemind {color:#999999;padding:10px 10px 15px;font-size:12px; }
.getMoneyRemind span {color:#f26f21; }
.textIn input{ width:100%;border:none;font-size:16px;}
.error input {color:#e12828; }

.getMoneyLink {padding:0 10px;margin:22px 0 ; }
.getMoneyLinkIn {border-top:solid 1px #d0d0d0;padding-top:32px; }
.getMoneyLinkIn a {float:left;display:block;height:25px;line-height:25px;border-right:solid 1px #d0d0d0;color:#26709a;font-size:14px;text-align:center;text-decoration:underline; }
.getMoneyLinkIn a:last-child {border:none; }
.getMoneyLinkIn .linkInA {text-align:left;width:23%; }
.getMoneyLinkIn .linkInB {text-align:center;width:41%; }
.getMoneyLinkIn .linkInC {text-align:right;width:35%; }

/*修改提现账号getMoneyAmend*/
.getMoneyAmendTitle {color:#999;font-size:13px;padding:10px; }
.getMoneyAmendBox {border-top:solid 1px #dbdada;border-bottom:solid 1px #dbdada; background:#fff;padding-left:10px; }
.getMoneyAmendBox dd {border-bottom:solid 1px #dbdada;position:relative;padding:15px 0; color:#000;padding-left:87px;padding-right:30px; }
.getMoneyAmendBox dd:last-child {border:none;}
.getMoneyAmendBox .getMoneyAmendBoxL {position:absolute;left:0;border-right:solid 1px #dbdada;display:block;width:87px; }
.getMoneyAmendBox .getMoneyAmendBoxC {display:block;border:none;height:20px;width:100%;text-indent:5px; outline:none;color:#666;}
.getMoneyAmendBox .getMoneyAmendBoxR { position:absolute;right:10px; top:15px;width:20px;display:block;}
.getMoneyAmendRemind {color:#f8a155;font-size:12px;color:#f8a155; }
.getMoneyAmendRemind img {width:15px;vertical-align:middle;font-size:12px;padding:10px; }
.getMoneyAmendBox .error {color:#e12828; }
.getMoneyAmendBoxR2 {font-size:11px;color:#999;border:solid 1px #c5c5c5; height:25px;width:80px;background:#f6f6f6;border-radius:25px;position:absolute;right:10px;top:12px;outline:none;}
.getMoneyAmendBoxR3 { background:#feb402;color:#fff;}/*获取状态*/





/*添加我的银行卡addCard*/
.addCard dd{ padding:18px 10px;border-bottom:solid 1px #eeeeee;position:relative;}
.addCard dd .addCardL {position:absolute; }
.addCard dd .addCardR {padding-left:65px;}
.addCard dd .addCardR input {width:100%;border:none; }
.addCard dd .addCardR a {color:#999; }/*修改iphone手机默认数字为手机号*/
.addCard dd .addCardR img {width:8px;margin-top:5px; }

.boxHid {background:rgba(0,0,0,0.8);width:100%;height:100%;position:fixed;top:0;display:none; }
.boxHidIn {background:#fff;width:90%;position:fixed; top:15%;border-radius:5px;left:5%;overflow:hidden;}
.boxHidIn dl {padding:0  18px; }
.boxHidIn dl dd {border-bottom:solid 1px #e2e2e2;padding:10px 0;color:#666; }
.boxHidTitle {color:#000; }
.boxHidSelect {width:15px;margin:5px 10px 0 0;display:block; display:none; }

.boxHidBtn {text-align:center;margin:10px 0; }


/*我的人脉myStudent*/
.myStudentTitle {padding:10px; }
.myStudent {background:#fff; }
.myStudent dd {padding:12px 10px;border-bottom:solid 1px #dadada; }
.myStudent dd:last-child {border:none; }
.myStudent dd a {display:block; }
.myStudentNameA,.myStudentNumberA {color:#67bada; }
.myStudentNameB,.myStudentNumberB{color:#eed202; }
.myStudentNameC,.myStudentNumberC {color:#e38e00; }
.myStudentName img{width:10px;vertical-align:middle;margin-left:5px; }
.myStudentNumber img{ width:9px;vertical-align:middle;}



/*一级人脉student*/
.student {background:#fff; }
.student dd {min-height:70px; position:relative;}
.studentBoxL {border:solid 1px #e8e8e8;position:absolute;border-radius:5px;overflow:hidden;top:10px;left:10px; }
.studentBoxL img {width:47px;height:47px;display:block; }
.studentBoxR {padding-left:70px; }
.studentBoxRCon {padding:13px 0;border-bottom:solid 1px #cccccc; }
.studentBoxRBtm {color:#999;font-size:12px; }
.studentBoxRBtmL, .studentBoxRBtmR {display:inline-block;}
.studentBoxRBtmL {float: left;min-width:100px;margin-right:15px;}
.studentBoxRBtmR span{color:#08bb08; }
.studentBoxLast .studentBoxRCon{border:none; }

/*我的收货地址mySite*/
.mySiteRemind {padding:15px 10px;font-size:12px;color:#999; }
.mySiteRemind span {color:#f26f21; }
.mySite dd {background:#fff;padding:15px 10px; margin-bottom:10px;}
.mySiteTopL span{ margin-right:5px;}
.mySiteTopL span:last-child {margin:0; }
.mySiteTopR  a{display:inline-block;color:#e94949;font-size:12px;border-right:solid 1px #999999;padding:0 10px; }
.mySiteTopR a:last-child {border:none; }
.mySiteCon {color:#999999;font-size:14px;padding-top:10px; }

.siteSelect .mySiteSelect {display:inline-block;width:18px;height:18px; background:url(../images/selectB.png) no-repeat;background-size:cover;vertical-align:middle;}
.siteSelect .mySiteSelectA {display:inline-block;width:18px;height:18px; background:url(../images/selectA.png) no-repeat;background-size:cover;vertical-align:middle; }
.siteSelect .siteSelectBg { background: #c0e8f7; }/*背景*/

/*新增收获地址addSite*/
.addSite dd .addCardR {padding-left:95px; }
.addSite dd .addCardR textarea {display:block;width:100%;border:none; }

/*我的资料my*/
.myImg {background:url(../images/myBg.jpg) no-repeat;background-size:cover; padding:25px 0;text-align:center;}
.myImg img {border:solid 3px #fff;width:91px;height:91px; box-shadow:0 0  10px #8d9aa2;border-radius:50%;}
.myBox dd .myBoxBank {padding-left:120px;color:#999; }
.myBox dd .myBoxBank img {width:9px; }
.myBox dd .myBoxBank a {display:block; }
.myBox .addCardR input {color:#999; }
/*资料设置set*/
.setTop {background:#fff;padding:10px; }
.setTopL {width:85%;}
.setTopL .setTopLImg {width:60px;border-radius:5px;display:block; }
.setTopL .setTopLCon {margin-left:15px;padding-top:5px;line-height:24px;overflow:hidden; width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#000; }
.setTopL .setTopLConNumber {font-size:14px;color:#666; }
.setTopR .setTopRImg{width:25px;display:block; }

.setList {border-top:solid 1px #e0e0e0; }
.setList .setListCon{padding:15px 10px;background:#fff;display:block;color:#000;border-bottom:solid 1px #e0e0e0; }
.setListConR img {width:7px; }
.setBtn {outline:none;width:100%;background:#fff;border:none;border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;padding:15px 0;color:#fb4141; }


.copyRight {width:100%;background:#fff;color:#a3a3a3;text-align:center;padding:10px 0;line-height:18px;font-size:12px;border-top:solid 1px #e0e0e0;}
.copyRightFixed { position:fixed;bottom:0;}
/*我的资料my*/
.setHead {background:#fff;padding:10px;}
.setHeadL {line-height:60px; }
.setHead .setHeadImg{width:60px;height:60px;border-radius:5px;vertical-align:middle;}
.setHead .setHeadOpen {width:7px; }
/*修改我的资料myAmend*/
.myAmend {background:#fff; padding:10px;}
.myAmendCon {padding:10px 10px 10px  90px; position:relative;font-size:14px;}
.myAmendCon span {width:80px;display:block;position:absolute;left:0;line-height:40px; }
.myAmendCon input {width:100%;height:40px;text-indent:5px;border:solid 1px #e6e5e5; }

/*学员详情studentCon*/
.studentConTop {text-align:center;padding:20px 0; }
.studentConTop img {display:block;margin:0 auto;width:115px;height:115px;border-radius:50%; margin-bottom:15px; }
.studentConTop span {font-size:21px;}

.studentConBtmBox {background:#fff;padding:14px 10px; overflow:hidden;margin-bottom:5px;color:#666;}
.studentConBtmBox .studentConBtmName {color:#999;width:70px;display:inline-block;font-size:14px; }

.studentConBtmBox2 {background:#fff;margin-bottom:15px; }
.studentConBtmBox2 .studentConBtmName2 {color:#999;font-size:14px;border-bottom:solid 1px #ebebeb; }
.studentConBtmBox2 p {padding:14px 10px;line-height:28px; }

/*我的人脉广告setAD*/
.setADTitle {padding:15px 10px;color:#666666;font-size:14px; }
.setADCon {background:#fff;padding:20px 10px; }
.setADConList {position:relative;padding:15px 25px 15px 75px;  }
.setADConList .setADConListName {position:absolute;left:0;color:#999;line-height:40px; }
.setADConList .setADConListImg {position:absolute;right:0; top:25px;width:16px; }
.setADConList input,.setADConList textarea{width:100%;border:solid 1px #e5e5e5;height:40px;display:block;text-indent:5px; }
.setADConList textarea {height:100px; }
.setADConList1 {padding-bottom:0; }
.setADConListHeader {width:54px;height:54px; }

.btnColor {background:#d1d1d1; }

/*我的订单myOrder*/
.myOrder {border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}
.myOrderBoxL {width:70%;}
.myOrderBoxL p {overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.myOrderBoxR {color:#f22020;font-size:14px; }
.myOrderBoxAll {text-align:right;font-size:14px;  }
.myOrderBoxAll span {color:#f22020; }
.myOrder .refund {color:#eb1e1e;font-size:14px; }





/*温馨提示 弹窗*/
.warmRemind {background:rgba(0,0,0,0.6);width:100%;height:100%;position:fixed;z-index:99;top:0; }
.warmBox {background:#fff;position:relative;top:30%;width:90%;left:5%;border-radius:5px;overflow:hidden;margin-top:-70px; }
.warmBoxTitle {background:#02a7e3; padding:10px 15px;color:#fff;font-size:14px;}
.warmBoxTitle img {vertical-align:middle;color:#fff;width:16px; margin-top:-1px;}
.warmBoxTitle img.userCloseTitle {width:210px;margin-top:2px; }
.warmBoxTitle img.userCloseBtn {width:25px; }
.warmBoxImg img {width:70px;height:70px; display:block;margin:20px auto;}
.warmBoxCon { padding:0 10px 20px;text-align:center;color:#000033;font-size:14px;}

.userCloseBox {background:#fff;padding:16px; }
.userCloseNumber {font-size:13px;color:#000; position:relative;padding-left:28px;line-height:22px;}
.userCloseNumber img{width:22px;vertical-align:bottom;position:absolute; top:0;left:0;}
.userCloseLine {border-top:solid 1px #d7d7d7;margin:15px 0 12px; }
.userCloseLine img{width:50px;margin-top:-1px;display:block; }
.userCloseLink {background:#02a7e3;color:#fff;display:block;border-radius:5px;width:60%;margin:0 auto;padding:12px 0;text-align:center;margin-bottom:20px; }

.warmClickBox {position:relative;top:40%;width:90%;max-width:760px;margin:0 auto; }


/*我的收益myIncome*/
#container {background:none; }
.highcharts-background {fill:#f0f0f0; }
.highcharts-button {display:none; }
.myIncomeBox {background:#fff; }
.myIncomeBox dd {float:left;width:33.3%; }
.myIncomeBoxCon {border-right:solid 1px #e2e2e2;text-align:center;padding:19px 0; }
.myIncomeBoxConLast {border:none; }
.myIncomeBoxConTitle {line-height:20px;font-size:12px; }
.myIncomeBoxConTitle span { display:inline-block;width:14px;height:14px; margin-right:10px;vertical-align:middle;}
.myIncomeBoxConA .myIncomeBoxConTitle span{background:#67bada;}
.myIncomeBoxConB .myIncomeBoxConTitle span{background:#eed202;}
.myIncomeBoxConC .myIncomeBoxConTitle span{background:#e38e00;}

.myIncomeBoxCon  .myIncomeBoxConNumber {font-size:21px;margin-top:7px; }
.myIncomeBoxConA  .myIncomeBoxConNumber{color:#67bada; }
.myIncomeBoxConB  .myIncomeBoxConNumber{color:#eed202; }
.myIncomeBoxConC  .myIncomeBoxConNumber{color:#e38e00; }

.boxHidSelect {width:15px;margin:5px 10px 0 0;display:none; }
.selected {display:block;}


/*登录login*/

.loginTop {padding:60px 0; }
.loginTop img {width:170px;display:block;margin:0 auto ; }
.loginCon {padding:0 10px; }
.loginCon input{display:block;width:100%;height:47px; border:solid 1px #dfdfdf;text-indent:10px;}
.loginConTop {border-top-left-radius:5px; border-top-right-radius:5px;}
.loginConBtm {border-bottom-left-radius:5px; border-bottom-right-radius:5px;margin-top:-1px;}

.loginCon .error {color:#e12828;border-color:#e12828;position:relative; }
.loginConLink {text-align:right; font-size:13px; margin:13px 0;}
.loginConLink a {color:#607fa6;text-decoration:underline;}

.loginBtm {margin-top:62px;text-align:center;color:#999999;font-size:12px; }
.loginBtm img {width:300px; display:block;margin:0 auto;}
.loginBtm p {margin:15px 0; }

/*忘记密码forget/设置密码*/
.forget {padding:10px; }
.getNumber {border-radius:5px;border:solid 1px #dddddd; overflow:hidden;margin-bottom:10px;}
.getNumber input {width:60%; border:none;text-indent:10px;height:47px;}
.getNumber .getNumberBtn {width:40%}
.getNumber a {width:40%;line-height:47px;display:inline-block;text-align:center; background:#f9f9f9;color:#27ade5;font-size:14px;border-left:solid 1px #dddddd;margin-left:-1px;}
.putIn  input{width:100%;border-radius:5px;border:solid 1px #dddddd;height:47px; text-indent:10px;margin-bottom:10px;}

/*产品列表productList*/
.productListTitle {padding:10px;font-size:14px; }
/*
.productList dl {background:#fff;padding-left:10px; }
.productList dd {padding:10px 10px 10px 86px;border-bottom:solid 1px #dadada;position:relative;}
.productList dd:last-child {border:none; }
.productList .productListImg {width:76px; height:76px;position:absolute;left:0;}
.productList  .productListCon {min-height:76px; }
.productListConTopL {width:60%;margin-bottom:10px; }
.productListConTopR { color:#e51515; }
.productListConLink {display:block;background:#02a7e3;font-size:12px;color:#fff;padding:4px 10px; }
.productListConLink img {width:5px;vertical-align:middle; }
*/
/*产品列表productList 修改*/
.productList dl {background:#fff;padding:0 10px ; }
.productList dd {padding: 10px 0 ; border-bottom:solid 1px #dadada;position:relative;}
.productList dd:last-child {border:none; }
.productList .productListImg {width:80px; height:80px;position:absolute;left:0;}
.productList  .productListCon {min-height:80px; }
.productList .productListConR {padding-left:88px; }
.productListConTopR { color:#e51515;font-size:14px; }
.productListConTopC {font-size:12px; }
.productListConLink {display:block;background:#02a7e3;font-size:12px;color:#fff;width:45%;text-align:center;padding:5px 0;margin-top:10px; }
.productListConLink img {width:5px;vertical-align:middle; }


/*订单列表orderList*/
.orderListTitle {color:#999; }
.orderListConL {position:absolute;}
.orderListConR {min-height:70px;padding-left:80px; }
.orderListConL img{width:70px; }
.orderListConRA {font-size:14px; }
.orderListConRA span{display:block; }
.orderListConRACon {width:65%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.orderListConRB {font-size:12px;color:#999;margin-top:15px; }
.orderListConRB span {margin-right:10px; }
.orderListConRB span:last-child {margin:0; }

.orderListBtn {text-align:right; }
.orderListBtn input {border:solid 1px #000; padding:7px 10px;font-size:12px;background:none;border-radius:5px;outline:none; }
.orderListBtn input:active {background:#d7d7d7; }
.orderListBtn .orderListBtnB {color:#eb1e1e;border-color:#eb1e1e; }
/*订单详情orderDetial*/
.orderDetial dd{background:#fff;margin-top:10px;padding-left:10px; }
.orderDetial li {border-bottom:solid 1px #eaeaea;padding:10px 10px 10px 0;font-size:13px;color:#999; }
.orderDetial li:last-child {border:none; }
.orderDetial .kindBtm{ margin-bottom:10px;}
.orderDetial .kindColor {font-size:14px;color:#f03030; }
.orderDetial dd.kindBorder {padding:0px; font-size:14px;color:#333;}
.kindBorder .kindBorderOut {height:4px;width:100%;background:url(../images/border.jpg); }
.kindBorder .kindBorderIn {padding:10px; }
.kindBorder img{width:15px;vertical-align:middle; }
.kindAddress {color:#999;font-size:13px;margin-top:10px;line-height:18px; }

.kindImg {margin-right:10px; }
.kindImg img{width:70px; }
.kindImgName {font-size:14px;color:#000;line-height:35px;}
.kindImgNumber { font-size:12px;color:#f85252;}
.kindRight {color:#333; }

.hidBox {height:50px; }/*占位高度 */
.fixBox {width:100%;position:fixed;bottom:0; background:#fff;
         -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
         box-shadow: 0 0 5px 0  #888888;
}
.fixBox p {padding:10px;text-align:right;font-size:13px; }
.fixBox .fixBoxBtnA {background:none;border:solid 1px #000;border-radius:5px;padding:5px 10px;color:#333;margin-right:5px; }
.fixBox .fixBoxBtnB {background:#f84f4f;border:solid 1px #f84f4f;border-radius:5px;padding:5px 10px;color:#fff;margin-right:5px; }

/*绑定手机boundmobile*/
.boundBox {padding:15px 10px; }
.boundBoxTitle {color:#999;font-size:14px;padding:0 10px 15px; }
.boundBoxTitle a { color:#333333;text-decoration: underline;}
.boundBoxCon a {text-decoration: underline;color: #333;display:block;text-align:right;    font-size:14px;margin-bottom:10px;}
.boundBoxCon {padding-bottom:5px; }
.boundBoxCon input {display:block;width:100%;background:#fff;border-radius:5px;border:solid 1px #ddd;height:40px;text-indent:10px;margin-bottom:10px; }
.boundBoxCon input.error {border-color:#e12828;color:#e12828;}

/*分享share*/
.shareBoxTitle{display:block;margin:10px auto ;width:60%; }
.shareBoxImg {background:url(../images/share2.png);padding:3px;width:90%;margin:0 auto; }
.shareBoxImgIn {background:#fff; }
.shareBoxImgIn img {display:block;width:100%; }

/*我的赠品myGift*/
.myGift {padding:0 10px; }
.myGift dd {border-bottom:solid 1px #dcdcdc;padding:10px 0; }
.myGift .listDetialL img{width:38px;height:38px; }
.myGift .orderListConR {min-height:38px;padding-left:50px; }
.myGift .myGiftTitle {color:#000;font-size:15px; display:inline;}
.myGift .myGiftCon { color:#cbcbcb;font-size:13px;display:inline;}
.myGift .myGiftBtn {display:block;border:solid 1px #cacccd;color:#00a5e0;border-radius:5px;font-size:14px;padding:7px 13px; }
.myGift .myGiftBtnNone {border:none;color:#d52626;}
.myGift .myGiftBtn:active {background:#ededed; }


/*报名成功success*/
.boxHidInTitle {font-size:14px;color:#333;padding:10px 25px; line-height:24px;}
.boxHidInBtn {border-top:solid 1px #d0d0d0; }
.boxHidInBtn a {display:block;padding:16px 0;float:left;width:50%; text-align:center;color:#d52626;}
.boxHidInBtn a:first-child {border-right:solid 1px #d0d0d0;margin-right:-2px;  }
.boxHidInBtn a:active {background:#f0f0f0; }

/*404*/
.shareBoxNone {text-align:center;color:#999;padding:20px 0; }


/*底部导航navBottom*/
.hidHeight {height:55px;width:100%;background:none; }
.navBottom {position:fixed;bottom:0;width:100%;border-top:solid 1px #dfdfdf; background:#fff;}
.navBottom dl{ margin: 0;}
.navBottom dd.navBottomFirst { width:17%; }
.navBottom dd.navBottomFirst .navBottomItem { padding-top:10px;}
.navBottom dd.navBottomFirst img {width:35px;border-radius:5px;margin:0 auto;display:block;}
.navBottom dd {float:left;width:27%;text-align:center;height:55px;line-height:55px; }
.navBottom dd .navBottomItem {border-right:solid 1px #dfdfdf;height:55px; }
.navBottom dd .navBottomItem:active {background:#f0f0f0; }
.navBottom dd .navBottomItemLast {border-right:none; }
.navBottom dd .navBottomItem a {display:block;width:100%;color:#333; height:55px;}
.navBottom dd .navBottomItem a:visited {color:#333; }
/*.navBottomItemCon { position:absolute;bottom:56px;box-shadow:0 0 3px 1px #bbb;display:none;width:29%;}
.navBottomItemCon a {display:block;color:#333;border-bottom:solid 1px #dfdfdf;line-height:55px;text-align:center; background:#fff;padding:0 10px;}
.navBottomItemCon a:active { background:#eeeeee; }
.navBottomItemCon a:last-child {border-bottom:none; }*/

/*底部悬浮navFloat*/
.playplayFixedH {height:95px; }
.playFixed {background:#f2f2f2;border-top:solid 1px #dad9da;position:fixed;bottom:0;width:100%;min-height:48px; }
.playFixedBox {padding:10px 10px 10px 70px; }
.playFixedImg {position:absolute;top:10px;left:10px; }
.playFixedImg img{width:50px;height:50px;display:block;border-radius:5px;}
.playFixedConTitle {color:#333;line-height:22px;font-size:15px; }
.playFixedConTitle span{color:#cc0000; }
.playFixedConBtn {font-size:13px;color:#333; }
.playFixedConBtn a{display:inline-block;color:#fff;background:#08bb08;border-radius:5px;padding:7px 9px;margin: 5px 2px 5px 0px;font-size:13px; }
.playFixedConBtn img {width:13px; }

.playFixedA {width:50%;border-right:solid 1px #dad9da;margin-right:-1px;height:48px; }
.playFixedA a {display:block;background:#08bb08;border-radius:5px;width:80%;margin:10px  auto 0;color:#fff;text-align:center;padding:5px 0; }


/*退款须知refundKnow*/
.refundKnow {padding:10px 0 0 10px; }
.refundKnow dd {position:relative;border-bottom:solid 1px #dedede;padding:12px 10px 12px 24px ;min-height:30px;line-height:24px; }
.refundKnow dd  i {position:absolute;left:0;top:15px;display:inline-block;background:#f23c3c;color:#fff;border-radius:50%;width:18px;height:18px;text-align:center;line-height:18px;font-size:12px; }
.refundKnowCause {padding:10px; }
.refundKnowCause  textarea {display:block;width:100%;border:solid 1px #dedede;text-indent:10px;padding:5px 0;height:80px;border-radius:5px;}

.refundKnowStep {padding-top:30px; text-align:center;}
.refundKnowStep img{width:65px;margin-bottom:6px; }
.refundKnowStep h4 {font-size:18px;line-height:40px; }
.refundKnowStep .knowStepS {font-size:12px;color:#999999;line-height:18px; }
.knowStepRemind {font-size:14px; }




/*我的课程myLesson*/
.lessonRemind {font-size:14px;color:#ea3131;border-bottom:solid 1px #e2e2e2;padding:15px 10px;background:#fff; }
.lessonRemind img {width:13px; vertical-align:middle;  }
.lessonMy { padding:15px 0 5px 90px;position:relative;background:#fff;min-height:100px;}
.lessonMy .lessonMyImg {width:68px;height:68px;border-radius:5px;position:absolute;left:10px;top:15px; }

.lessonMyCon {color:#000;font-size:14px; }
.lessonMyCon dt{color:#000;font-size:17px; }
.lessonMyCon dd {padding:8px 0;border-bottom:solid 1px #e2e2e2;line-height:20px; }
.lessonMyCon dd:last-child {border-bottom:none; }
.lessonMyCon .lessonMyConTitlt {color:#999; }
.lessonMyCon .lessonMyConNone {color:#e92f2f; }

.lessonNotice {background:#fff;padding:0 10px; }
.lessonBigTitle {font-size:17px;color:#000;padding:8px 0;border-bottom:solid 1px #e2e2e2; }
.lessonBigTitle span {display:inline-block;width:4px;height:21px;background:#02a7e3;margin-right:8px;vertical-align:middle; }

/**触屏滑动owl.theme.css***/
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	/*display: none;*/
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}	
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-theme .owl-controls{margin-top: 10px;text-align: center;}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-demo {position:relative; }
.owl-theme .owl-controls { }
.owl-pagination {position:relative; }
.owl-theme .owl-controls .owl-page  span {border-radius:50%;opacity:1;width:10px;height:10px; background:#cecece;}
.owl-theme .owl-controls .active  span{ background:#02a7e3; }
.owl-theme .owl-controls .owl-buttons div {display:none; }

.lessonNoticeCon {padding:10px 0; }
.lessonNoticeCon .item {position:relative;padding:0 0 0 149px;min-height:109px; }
.lessonNoticeCon .itemL{position:absolute;left:0;}
.lessonNoticeCon .itemR {width:100%;}
.lessonNoticeCon .itemL img{display:block;width:139px;height:85px; }
.lessonNoticeCon .itemL p {color:#fff;font-size:11px;background:#232323;height:24px;line-height:24px;text-align:center; }
.lessonNoticeCon .itemL p span {color:#eb3f3f; }

.lessonSmallTitle {color:#000;font-size:15px; }
.lessonSmallTitle a {color:#000; }
.lessonSmallTitle span {color:#999;font-size:12px;margin-right:20px; }
.itemRLink a img{width:6px;vertical-align:middle; }
.itemRLink a {color:#02a7e3;font-size:13px;display:block;border-bottom:solid 1px #d7d7d7;line-height:28px; }
.itemRLink a:last-child {border-bottom:none; }

.lessonList {background:#fff;padding:0 10px; }
.lessonList dl {padding:16px 0; }
.lessonList dd {border-bottom:solid 1px #d7d7d7;padding:10px 0; }
.lessonListLink {margin-top:8px; }
.lessonListLink a{display:block;padding:5px 16px;border:solid 1px #02a7e3;border-radius:5px;color:#02a7e3;font-size:11px;margin-right:10px;background:#fff; }
.lessonListLink a:last-child {margin-right:0; }
.lessonListLink a:active {background:#f0f0f0; }

/*历史课件内容myLessonCon*/
.myLessonCon {padding:10px; }
.myLessonConTitle {margin-bottom:20px;}
.myLessonConTitle h3 {line-height:30px; color:#000;font-weight:100;font-size:21px;margin-bottom:5px; }
.myLessonConTitle span { font-size:14px;color:#999;margin-right:20px;}
.myLessonConTitle  .myLessonConName {color:#3f6179; }
.myLessonConFile img {width:100%; }
.myLessonConFile p{line-height: 1.75em;padding: 2px 0 10px;}



/*我的推广二维码myAD*/
.adTop {padding:10px;color:#ee1a1d;font-size:12px;line-height:18px;}
.adTop p {margin-bottom:5px; }

.adProduce {background:#fff; }
.adBigTitle {color:#000;padding:8px 0;border-bottom:solid 1px #e2e2e2; }
.adBigTitle  span {display:inline-block;width:4px;height:21px;background:#02a7e3;margin-right:8px;vertical-align:middle; }
.adProduceCon {padding:10px 0; }
.adProduceCon .adProduceConL,.adProduceConR {width:48%;min-height:280px; }
.adProduceConL {background:#237ea8; }
.adProduceConR {background:#d83f3f; }
.adProduceCon .ProduceConTop {color:#fff;text-align:center;padding:10px 0; }
.adProduceCon .ProduceConTopL {border-bottom:solid 1px #4891b3; }
.adProduceCon .ProduceConTopR {border-bottom:solid 1px #d95f5f; }
.adProduceCon .ProduceConBtm {margin:10px;padding:5px 0;height:100%;color:#fff; font-size:12px;line-height:20px;}
.adProduceCon .ProduceConBtmL {border-bottom:solid 1px #4891b3; }
.adProduceCon .ProduceConBtmR {border-bottom:solid 1px #d95f5f;}
.ProduceConBtm .ProduceConBtmImg {height:80px; text-align:center;}
.ProduceConBtm .ProduceConBtmImg img {display:block;width:57px;margin:0 auto; }
.ProduceConBtm .ProduceConTopRLesson {position:relative;padding-left:33px;margin-bottom:5px; }
.ProduceConBtm .ProduceConTopRLesson span {position:absolute;left:0; }
.adProduceConLBtn,.adProduceConRBtn  {display:block;background:#fff;border-radius:5px;height:32px;line-height:32px;width:80%;text-align:center;margin:0 auto; }
.adProduceConLBtn {color:#d83f3f; }
.adProduceConRBtn {color:#237ea8; }

.adNote {background:#fff; }
.adNote dl {padding:0 10px 10px; }
.adNote dd {margin-top:15px;line-height:32px; }
.adNote dd p{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.adNote dd a {display:block;border-radius:5px;border:solid 1px #02a7e3;color:#02a7e3;text-align:center;width:48%;height:38px;line-height:38px;font-size:14px; }



/*微信支付weixinPay*/
.weixinPay {max-width:768px;margin:0 auto 20px; }
.weixinPayTop {width:100%;display:block; }
.weixinPayTitle {color:#3a3a3a;text-align:center;margin-top:-36px; }
.weixinPayTitle span {color:#e12f2f; }
.weixinPayCon {background:#fff;border-radius:5px;border:solid 8px #4db132;width:50%;margin:13px auto;padding:10px;}
.weixinPayCon img {display:block;width:100%; }
.weixinPayBtm {color:#999999;font-size:14px;text-align:center; }

.weixinPayDel {padding:25px 10px 20px;  }
.weixinPayDelImg {width:65px;margin:0 auto;display:block; }
.weixinPayDelCon {text-align:center;margin:13px 0 35px;font-size:14px;color:#666666; }
.weixinPayDel .weixinPayDelBtn1 {text-align:center;background:#f26f21;color:#fff;border-radius:5px;height:41px;width:100%; border:none;display:block;line-height:41px; }
.weixinPayDel .weixinPayDelBtn2 {text-align:center;background:#ff4747;color:#fff;border-radius:5px;height:41px;width:100%; border:none;display:block;line-height:41px; }


