<table width="100%">
    <tr>
        <td>
            <fieldset>
                <h2 class="legend">今日待办</h2>

            </fieldset>
        </td>
        <td width="10"></td>
        <td>
            <fieldset>
                <h2 class="legend">完成订单</h2>

            </fieldset>
        </td>
        <td width="10"></td>
        <td>
            <fieldset>
                <h2 class="legend">代理情况</h2>

            </fieldset>
        </td>
    </tr>
</table>