<div id="toolbar" class="form-panel">
    <form id="toolbarSearch" action="javascript:;">
        <table>
            <tr>
                <td>
                    下单时间：<input class="easyui-datebox" name="begindate" data-options="formatter:date_formatter,parser:date_parser">&nbsp;~&nbsp;<input class="easyui-datebox" name="enddate" data-options="formatter:date_formatter,parser:date_parser">
                    <select name="order_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">订单状态</option>
                        <foreach item="vo" key="key" name="order_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                    <select name="shipping_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">配送状态</option>
                        <foreach item="vo" key="key" name="shipping_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                    <select name="pay_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">支付状态</option>
                        <foreach item="vo" key="key" name="pay_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                    <input name="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入关键词',buttonIcon:'icon-search',onClickButton:onSearch" style="width: 250px;">
                </td>
            </tr>
        </table>
    </form>
</div>
<table id="orderTable">
    <thead>
    <tr>
        <th data-options="field:'order_id',width:10">订单ID</th>
        <th data-options="field:'order_sn',width:40">订单号</th>
        <th data-options="field:'consignee',width:30">收货人</th>
        <th data-options="field:'email',width:50">电子邮箱</th>
        <th data-options="field:'mobile',width:50">手机号码</th>
        <th data-options="field:'province_name',width:20">省/直辖市</th>
        <th data-options="field:'city_name',width:20">市</th>
        <th data-options="field:'create_time',width:50">下单时间</th>
        <th data-options="field:'status_text',width:50">状态</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">
    var orderTable = $('#orderTable');
    var orderId = 0;

    orderTable.datagrid({
        url: "{:U('alone')}",
        fit:true,
        border:false,
        toolbar: '#toolbar',
        pagination: true,
        fitColumns: true,
        singleSelect:true,
        onDblClickRow: function(index, row){
            parent.openTab(null, row.order_sn, http_build_query("{:U('show')}", {order_id: row.order_id}), true);
        }
    });

    function onSearch() {
        var query = $('#toolbarSearch').form('getData');
        orderTable.datagrid({
            queryParams: query
        });
    }
</script>