<form name="download" method="post">
    <fieldset>
        <h2 class="legend">基本信息</h2>
        <table width="100%" class="list-table thright" data-options="fit:true">
            <tr>
                <th width="100">状态：</th>
                <td colspan="3">
                    <select name="order_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">订单状态</option>
                        <foreach item="vo" key="key" name="order_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                    <select name="shipping_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">配送状态</option>
                        <foreach item="vo" key="key" name="shipping_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                    <select name="pay_status" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">支付状态</option>
                        <foreach item="vo" key="key" name="pay_status">
                            <option value="{$key}">{$vo}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="100">订单编号：</th>
                <td width="500"><input name="order_sn" class="easyui-textbox" style="width:300px;"></td>
                <th width="100">邮箱：</th>
                <td width="500"><input name="email" class="easyui-textbox" style="width:300px;"></td>
            </tr>
            <tr>
                <th width="100">收货人：</th>
                <td><input name="consignee" class="easyui-textbox" style="width:300px;"></td>
                <th width="100">联系电话：</th>
                <td><input name="mobile" class="easyui-textbox" style="width:300px;"></td>
            </tr>
            <tr>
                <th>收货地区：</th>
                <td colspan="3">
                    <input class="easyui-combobox" id="province" name="province" style="width:120px;" data-options="valueField:'region_id', textField:'region_name'">
                    <input class="easyui-combobox" id="city" name="city" style="width:120px;" data-options="valueField:'region_id', textField:'region_name'">
                    <input class="easyui-combobox" id="district" name="district" style="width:120px; " data-options="valueField:'region_id', textField:'region_name'">
                </td>
            </tr>
            <tr>
                <th width="100">配送方式：</th>
                <td>
                    <select name="shipping_id" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">选择配送方式</option>
                        <volist id="vo" name="shipping">
                            <option value="{$vo.shipping_id}">{$vo.shipping_name}</option>
                        </volist>
                    </select>
                </td>
                <th width="100">发货单号：</th>
                <td>
                    <input name="invoice_no" class="easyui-textbox" style="width:300px;">
                </td>
            </tr>
            <tr>
                <th width="100">支付方式：</th>
                <td>
                    <select name="pay_id" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">选择支付方式</option>
                        <volist id="vo" name="payment">
                        <option value="{$vo.pay_id}">{$vo.pay_name}</option>
                        </volist>
                    </select>
                </td>
                <th width="100">订单类型：</th>
                <td>
                    <select name="is_mass" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">选择订单类型</option>
                        <option value="2">普通类型</option>
                        <option value="1">大批量发货</option>
                    </select>
                </td>
            </tr>
             <tr>
                <th width="100">付款账户：</th>
                <td>
                    <select name="account_id" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">选择付款账户</option>
                        <volist id="vo" name="payaccount">
                            <option value="{$vo.account_id}">{$vo.account_name}</option>
                        </volist>
                    </select>
                </td>
                 <th width="100">订单渠道：</th>
                 <td>
                     <input name="channel_id" class="easyui-combobox" data-options="valueField:'id',textField:'text',url:'{:U('getChannel')}',prompt:'请选择渠道...'" />
                 </td>
            </tr>
            <tr>
                <th width="100">跟进人：</th>
                <td colspan="3">
                    <select name="master_id" class="easyui-combobox"  style="width: 200px;">
                        <option value="-1">选择跟进人</option>
                        <volist id="vo" name="master_id">
                            <option value="{$vo.user_id}">{$vo.user_name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <h2 class="legend">时间信息</h2>
        <table width="100%" class="list-table thright" data-options="fit:true">
            <tr>
                <th width="100">下单时间：</th>
                <td colspan="3">
                    <input id="create_start" class="easyui-datetimebox"  name="create_time[start]" validType="isAfter['#create_end']"> ~ <input id="create_end" class="easyui-datetimebox" name="create_time[end]"  validType="isLaterToday['#create_start']">
                </td>
            </tr>
            <tr>
                <th width="100">确认时间：</th>
                <td width="500">
                    <input id="confirm_start" class="easyui-datetimebox" name="confirm_time[start]" validType="isAfter['#confirm_end']" > ~ <input id="confirm_end" class="easyui-datetimebox" name="confirm_time[end]" validType="isLaterToday['#confirm_start']">
                </td>
                <th width="100">更新时间：</th>
                <td width="500">
                    <input id="update_start" class="easyui-datetimebox" name="update_time[start]" validType="isAfter['#update_end']"> ~ <input id="update_end" class="easyui-datetimebox" name="update_time[end]" validType="isLaterToday['#update_start']">
                </td>
            </tr>
            <tr>
                <th width="100">支付时间：</th>
                <td>
                    <input id="pay_start" class="easyui-datetimebox" name="pay_time[start]" validType="isAfter['#pay_end']"> ~ <input id="pay_end" class="easyui-datetimebox" name="pay_time[end]" validType="isLaterToday['#pay_start']">
                </td>
                <th width="100">配货时间：</th>
                <td>
                    <input id="picking_start" class="easyui-datetimebox" name="picking_time[start]" validType="isAfter['#picking_end']"> ~ <input id="picking_end" class="easyui-datetimebox" name="picking_time[end]" validType="isLaterToday['#picking_start']">
                </td>
            </tr>
            <tr>
                <th width="100">打单时间：</th>
                <td>
                    <input  id="print_start" class="easyui-datetimebox" name="print_time[start]" validType="isAfter['#print_end']"> ~ <input id="print_end" class="easyui-datetimebox" name="print_time[end]" validType="isLaterToday['#print_start']"> 
                </td>
                <th width="100">发货时间：</th>
                <td>
                    <input id="delivery_start" class="easyui-datetimebox" name="delivery_time[start]" validType="isAfter['#delivery_end']"> ~ <input id="delivery_end" class="easyui-datetimebox" name="delivery_time[end]" validType="isLaterToday['#delivery_start']">
                </td>
            </tr>
            <tr>
                <th width="100">签收时间：</th>
                <td>
                    <input id="receive_start" class="easyui-datetimebox" name="receive_time[start]" validType="isAfter['#receive_end']"> ~ <input id="receive_end" class="easyui-datetimebox" name="receive_time[end]" validType="isLaterToday['#receive_start']">
                </td>
                <th width="100">退货时间：</th>
                <td>
                    <input id="returns_start" class="easyui-datetimebox" name="returns_time[start]" validType="isAfter['#returns_end']"> ~ <input id="returns_end" class="easyui-datetimebox" name="returns_time[end]" validType="isLaterToday['#returns_start']">
                </td>
            </tr>
            <tr>
                <th width="100">取消时间：</th>
                <td>
                    <input id="cancel_start" class="easyui-datetimebox" name="cancel_time[start]" validType="isAfter['#cancel_end']"> ~ <input id="cancel_end" class="easyui-datetimebox" name="cancel_time[end]" validType="isLaterToday['#cancel_start']">
                </td>
                <th width="100">异常时间：</th>
                <td>
                    <input id="abnormal_start" class="easyui-datetimebox" name="abnormal_time[start]" validType="isAfter['#abnormal_end']"> ~ <input id="abnormal_end" class="easyui-datetimebox" name="abnormal_time[end]" validType="isLaterToday['#abnormal_start']">
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <h2 class="legend">导出类型</h2>
        <label><input type="radio" name="download_type" value="1"> 订单明细</label>
        <label><input type="radio" name="download_type" value="2"> 按商品明细</label>
        <label><input type="radio" name="download_type" value="3"> 退货单</label>
    </fieldset>
    <div class="form-panel">
        <a class="easyui-linkbutton button-small" onclick="onDownload(this)">导出</a>
    </div>
</form>
<script type="text/javascript">
    $(function(){
        $('#province').combobox({
            url: '{:U("home/region/query")}?parent_id=1',
            onChange: function(selValue){
                $('#city').combobox('setValue', '');
                $('#city').combobox('loadData',{});
                $('#district').combobox('setValue','');
                $('#district').combobox('loadData',[]);
                if(selValue)
                    $('#city').combobox('reload', '{:U("home/region/query")}?parent_id=' + selValue);
            }
        });
        $('#city').combobox({
            onChange: function(selValue){
                $('#district').combobox('setValue','');
                $('#district').combobox('loadData',[]);
                if(selValue)
                    $('#district').combobox('reload', '{:U("home/region/query")}?parent_id=' + selValue);
            }
        });
    });

    function onDownload(element) {
        var type = $('[name="download_type"]:checked').val();
        if(typeof type == 'undefined') {
            alert('请选择导出类型');
            return false;
        }
        var isvalid = $('[name="download"]').form('validate');
       	if(!isvalid){
       		return false;
       	}
        $('[name="download"]').submit();
    }
    
    $.extend($.fn.validatebox.defaults.rules, {
        isAfter: {
            validator: function(value, param){
                var dateA = $.fn.datebox.defaults.parser(value);
                var dateB = $.fn.datebox.defaults.parser($(param[0]).datebox('getValue'));
                var isnull = $(''+param+'').datebox('getValue');
                if(isnull != null){
               	 	return  dateA<=dateB;
                }else{
                	return true;
                }
            },
            message: '开始时间不能大于结束时间'
        } ,
        isLaterToday: {
            validator: function(value, param){
                var date = $.fn.datebox.defaults.parser(value);
                var date1 = $.fn.datebox.defaults.parser($(param[0]).datebox('getValue'));
    			var A = date-date1;
    			var res = (new Date(A).getMonth())*30+new Date(A).getDate()-1;
    		    var isnull = $(''+param+'').datebox('getValue');
                if(isnull != null){
                	return date>=date1 && res<=15;
                }else{
                	return true;
                }
            },
            message: '区间不能超过15天'
        }
    });
</script>