    <form id="operate_form" method="post" data-url="{:U('do_operate')}">
    <table class="form-panel content-layout">
        <tr>
            <td>备注：</td>
            <td>
                <input class="easyui-textbox" name="remark" data-options="{multiline:true, missingMessage:'请填写备注'}" style="width:450px;height:100px" >
            </td>
        </tr>
        <tr>
            <td height="10"></td>
            <td></td>
        </tr>
        <foreach name="operate" item="op" key="operateKey" >
            <eq name="operateKey" value="pay"><include file="pay" /></eq>
        </foreach>
        <tr>
            <td>操作：</td>
            <td>
                <foreach name="operate" item="op" key="operateKey" >
                    <if condition="$op['virtual'] neq true">
                        <a class="easyui-linkbutton button-small" operate="{$operateKey}" onclick="onOperate(this)">{$op.text}</a> &nbsp;
                    </if>
                </foreach>
                <!--<a class="easyui-linkbutton button-small" onclick="aftersale(this)" >申请售后</a>-->
            </td>
        </tr>
        <tr>
            <td height="10"></td>
            <td>
                <input type="hidden" name="order_id" value="{$order.order_id}">
                <input type="hidden" name="operate">
            </td>
        </tr>
        <tr>
    </table>
</form>
<script type="text/javascript">
    function aftersale(element){
        easyui.confirm('确定申请售后吗?',function() {
                    location.href = "{:U('afterexchange/edit',array('order_sn' => $order[order_sn],'exchange' => 1))}";
                }
        );
    }

    function onOperate(element) {
        var msg = "请确认所操作订单是否正确！";
        var operate = $(element).attr('operate');
        $('[name="operate"]').val(operate);
        switch (operate) {
            case 'mass_audit':
                msg = '确认通过大批量发货审核吗？';
                break;
            case 'audit_pass': //如果是审核通过，提示运费填写
                msg = "请确认配送方式与运费填写是否正确！";
                break;
            case 'pay':
                msg = "请确认支付方式选择是否正确！";
                break;
        }
        easyui.confirm(msg,function(){
            easyui.submit('#operate_form', function(result){
                try{
                    easyui.alert(result.info, function(){
                        if (result.status) {
                            window.location.reload();
                        }
                    });
                }catch (e){}
            });
        })
    }
</script>