<tr>
    <td>支付方式：</td>
    <td>
        <select name="pay_id" class="easyui-combobox"  style="width: 200px;">
            <volist id="vo" name="payment">
                <option value="{$vo.pay_id}">{$vo.pay_name}</option>
            </volist>
        </select>
    </td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>