<tr>
    <td>配送方式：</td>
    <td>
        <select name="shipping_id" class="easyui-combobox"  style="width: 200px;">
            <volist id="vo" name="shipping">
                <option value="{$vo.shipping_id}" <if condition="$vo['shipping_id'] eq $order['shipping_id']">selected</if>>{$vo.shipping_name}</option>
            </volist>
        </select>
    </td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>
<tr>
    <td>运费：</td>
    <td>
        <input type="text" name="shipping_fee" value="{$order.shipping_fee}" class="easyui-textbox"> <span class="tips">填写运费会自动扣减相应的余额</span>
    </td>
</tr>
<tr>
    <td height="10"></td>
    <td></td>
</tr>