<fieldset>
    <h2 class="legend">基本信息</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th width="100">订单状态：</th>
            <td colspan="3" style="color: red;">{$order.order_status_text} {$order.shipping_status_text} {$order.pay_status_text}</td>
        </tr>
        <tr>
            <th width="100">订单编号：</th>
            <td width="500">{$order.order_sn}</td>
            <th width="100">邮箱：</th>
            <td width="500">{$order.email}</td>
        </tr>
        <tr>
            <th width="100">收货人：</th>
            <td>{$order.consignee}</td>
            <th width="100">联系电话：</th>
            <td>{$order.mobile}</td>
        </tr>
        <tr>
            <th>收货地址：</th>
            <td colspan="3">{$province['region_name']}{$city['region_name']}{$district['region_name']}{$order.address}</td>
        </tr>
        <tr>
            <th width="100">配送方式：</th>
            <td>{$order.shipping_name}</td>
            <th width="100">发货单号：</th>
            <td>{$order.invoice_no}</td>
        </tr>
        <tr>
            <th width="100">支付方式：</th>
            <if condition="$balance_show">
                <td>{$order.pay_name}</td>
                <else/>
                <td></td>
            </if>
            <th width="100">订单留言：</th>
            <td>{$order.postscript}</td>
        </tr>
        <tr>
            <th width="100">付款账户：</th>
            <if condition="$balance_show">
                <td>{$account_name.account_name}</td>
                <else/>
                <td></td>
            </if>
            <th width="100">订单类型：</th>
            <td><if condition="$order.is_mass eq 1">大批量发货</if></td>
        </tr>
        <tr>
            <th width="100">订单渠道：</th>
            <td>{$order.channel_name}</td>
            <th width="100">下单角色：</th>
            <td>{$order.role_name}</td>
            <td></td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <h2 class="legend">时间信息</h2>
    <table width="100%" class="list-table thright" data-options="fit:true">
        <tr>
            <th width="100">下单时间：</th>
            <td colspan="3">{$order.create_time}</td>
        </tr>
        <tr>
            <th width="100">确认时间：</th>
            <td width="500">{$order.confirm_time}</td>
            <th width="100">更新时间：</th>
            <td width="500">{$order.update_time}</td>
        </tr>
        <tr>
            <th width="100">支付时间：</th>
            <if condition="$payshow">
            <td>{$order.pay_time}</td>
            <else/>
            <td></td>
            </if>
            <th width="100">配货时间：</th>
            <td>{$order.picking_time}</td>
        </tr>
        <tr>
            <th width="100">打单时间：</th>
            <td>{$order.print_time}</td>
            <th width="100">发货时间：</th>
            <td>{$order.delivery_time}</td>
        </tr>
        <tr>
            <th width="100">签收时间：</th>
            <td>{$order.receive_time}</td>
            <th width="100">退货时间：</th>
            <td>{$order.returns_time}</td>
        </tr>
        <tr>
            <th width="100">取消时间：</th>
            <td>{$order.cancel_time}</td>
            <th width="100">异常时间：</th>
            <td>{$order.abnormal_time}</td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <h2 class="legend">商品信息</h2>
    <table width="100%" class="list-table">
        <tr>
            <th width="30%">商品名称</th>
            <th width="20%">货号</th>
            <if condition="$order.is_mass eq 1">
                <th width="20%">属性</th>
            </if>
            <th width="10%">快递单号</th>
            <th width="10%">数量</th>
            <th width="15%">单价</th>
            <th width="15%">小计</th>
        </tr>
        <volist id="vo" name="order_goods">
            <tr>
                <td>{$vo.goods_name}</td>
                <td>{$vo.goods_sn}</td>
                <if condition="$order.is_mass eq 1">
                    <td>{$vo.goods_info}</td>
                </if>
                <td>{$vo.invoice_no}</td>
                <td align="center">{$vo.goods_number}</td>
                <td>￥{$vo.goods_price}</td>
                <td>￥{$vo['goods_price'] * $vo['goods_number']}</td>
            </tr>
        </volist>
        <tr>
            <td colspan="5" align="right">
                商品总金额(￥{$order.goods_amount}) + 运费(￥{$order.shipping_fee}) = 订单总金额(￥{$order['goods_amount'] + $order['shipping_fee']})
            </td>
        </tr>
        <if condition="$balance_show">
            <tr>
                <td colspan="5" align="right">
                    - 余额支付(￥{$order.surplus}) - 已付款金额(￥{$order.paid}) = 剩余应付款金额(￥{$order.order_amount})
                </td>
            </tr>
        </if>
    </table>
</fieldset>
<fieldset>
    <h2 class="legend">订单操作</h2>
    <include file="operate" />
</fieldset>
<fieldset>
    <h2 class="legend">订单日志</h2>
    <table width="100%" class="list-table thleft">
        <tr>
            <th width="20%">操作时间</th>
            <th width="15%">操作人</th>
            <th width="8%">订单状态</th>
            <th width="8%">配送状态</th>
            <th width="8%">支付状态</th>
            <th width="8%">付款账户</th>
            <th>备注</th>
        </tr>
        <volist id="vo" name="order_log">
            <tr>
                <td>{$vo.create_time}</td>
                <td>{$vo.master_name}</td>
                <td>{$vo.order_status}</td>
                <td>{$vo.shipping_status}</td>
                <td>{$vo.pay_status}</td>
                <td>{$vo.account_name}</td>
                <td>{$vo.action_note}</td>
            </tr>
        </volist>
    </table>
</fieldset>
<script type="text/javascript">
    var orderId = '{$Think.get.order_id}';
    $(function () {
        $('#showPayImage').click(function(){
            var pay_image = $('[name="pay_image"]').val();
            if(empty(pay_image)) return;
            easyui.dialog({
                width: 700,
                height: 600,
                content: '<img src="'+pay_image+'"/>'
            });
        });
    });
</script>