<include file="toolbar" />
<table id="grid"  data-options="fit:true, border:false"></table>
<div id="leftMenu" class="easyui-menu" data-options="onClick:menuHandler" style="width:120px;">
    <div data-options="name:'delete', iconCls:'icon-no'">删除</div>
    <div data-options="name:'reload',iconCls:'icon-save'">刷新</div>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    var rowId = 0;
    $(function(){
        grid.treegrid({
            url: "{:U()}",
            idField:'id',
            toolbar: "#toolbar",
            treeField:'text',
            fitColumns: true,
            onContextMenu: function(e, row){
                e.preventDefault();
                rowId = row.id;
                $('#leftMenu').menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            columns:[[
                {field:'text',title:'地区名称',width:120}
            ]],
            onDblClickRow: function(row){
                onEdit(row);
            }
        });
    });

    function onEdit(row) {
        $('#region_form').form('load', row);
    }

    function onAdd(element) {
        blur(element);
        var formObj = $('#region_form');
        formObj.form('clear');
    }

    function onSave() {
        var data = {};
        var region_name = $('#region_name').textbox('getValue');
        if(region_name == '') {
            easyui.alert('请输入地区名称！');
            return;
        }
        data.region_name = region_name;
        var parent_id = $('#parent_id').val();
        if(empty(parent_id)) {
            var row = grid.treegrid('getSelected');
            if(!row) {
                easyui.alert('请在下面列表中选择上级地区！');
                return;
            }
            parent_id = row.id;
        }
        if(parent_id) data.parent_id = parent_id;
        var region_id = $('#region_id').val();
        if(!empty(region_id)) data.region_id = region_id;
        data.save_type = region_id > 0 ? 'update' : 'insert'

        easyui.doAjax('{:U("save")}', data, function(result) {
            if(!result.status){
                return ;
            }
            $('#region_form').form('clear');
            grid.treegrid('reload');
        });
    }

    function menuHandler(item) {
        switch (item.name) {
            case 'reload':
                grid.treegrid('reload');
                break;
            case 'delete':
                if(rowId){
                    easyui.doAjax('{:U("delete")}', {itemid: rowId}, function(){
                        grid.treegrid('reload');
                    });
                }
        }

    }

    function onSearch() {
        grid.treegrid('reload', {
            keyword: $('#keyword').val()
        });
    }
</script>