<div id="toolbar">
    <table class="form-panel">
        <tr>
            <td width="100%">
                <form method="post" action="{:U('save')}" id="region_form">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" plain="true" onclick="onAdd(this)">清除</a>
                    <input type="hidden" id="region_id" name="id" value="">
                    <input type="hidden" id="parent_id" name="pid" value="">
                    <input class="easyui-textbox" id="region_name" name="text" data-options="buttonText:' 保存 ',buttonIcon:'icon-save',prompt:'请输入地区名称...',onClickButton: function(){onSave();}" style="width:250px;">
                </form>
            </td>
            <td>
                <input id="keyword" class="easyui-textbox" data-options="buttonText:'SEARCH',prompt:'请输入关键词...',onClickButton: function(){onSearch();}" style="width:250px;">
            </td>
        </tr>
    </table>
</div>